<% content_for :title do %>
    Opis gry
<% end %>
<h2 class="header header--main">Opis gry</h2>
<p>Gra <span class="italic">Harry Potter Trading Card Game</span> jest grą karcianą kolekcjonerską stworzoną w 2001 roku. Oparta jest o świat Harry'ego Pottera przedstawiony przede wszystkim w pierwszej części książki. Płyną z tego następujące wnioski i konsekwencje:</p>
<ul class="list--ordered">
    <li>Gra jest grą kolekcjonerską. Oznacza to, że jednym z aspektów gry jest kolekcjonowanie kart - należy kupować pakiety dodatkowe (tzw. <span class="italic">boostery</span>) zawierające 11 losowych kart, aby powiększać swoją kolekcję.</li>
    <li>Gracz ma możliwość samodzielnego tworzenia swoich talii.</li>
    <li>Gra jest grą starą. Przez to jest trudno dostępna, a to utrudnia kolekcjonowanie. Aktualnie jedyny polski dystrybutor tych kart to <a href="http://isa.pl">isa.pl</a>. Okazyjnie można karty dostać także na Allegro, między innymi u użytkownika <a href="http://allegro.pl/listing/user/listing.php?us_id=57167">Sanvean</a></li>
    <li>Gra nie została spolszczona.</li>
</ul>
<figure class="figure figure--center"><img alt="Karta: Norbert" class="figure__item" src="/cards/30.jpg" />
</figure>
<p>Niewątpliwą zaletą jest główna cecha tej gry - to, że osadzona jest w świecie Harry'ego Pottera. Jeśli chcesz wrócić do czasów, kiedy fascynowała Cię ta książka, ta gra jest właśnie dla Ciebie! Większość kart odnosi się do postaci, zdarzeń lub czarów, o których mogliśmy przeczytać w książkach o Harrym Potterze, a każda karta opatrzona jest ciekawą i atrakcyjną ilustracją (a często nawet cytatem z książki). Za przykład można tu podać postaci pierwszoplanowe jak <span class="italic">Ron Weasley</span> i <span class="italic">Draco Malfoy</span>, drugoplanowe jak <span class="italic">Dean Thomas</span>; przygody takie jak <span class="italic">Troll in the bathroom</span> (<span class="italic">Troll w łazience</span>); czary, np. <span class="italic">Obliviate</span> (zaklęcie zapomnienia); i nawet miejsca, np. <span class="italic">Platform 9 &#190;</span> (Peron 9 &#190;).</p>
<p>Rozgrywki są szybkie i zazwyczaj nie trwają dłużej niż 15 minut. W przypadku dobrej znajomości swoich talii przez obu graczy, czas gry skraca się nawet do 5-10 minut. Gra posiada proste, łatwe i czytelne zasady, dzięki czemu nadaje się dla dzieci już od 12 roku życia (warto jednak zwrócić uwagę na wymaganą znajomość przynajmniej podstaw języka angielskiego, aby móc czytać opisy kart). Do gry nie jest wymagana duża ilość miejsca, dlatego można grać w nią nawet w podróży czy na stoliku w kawiarni, a dwie talie 60-kartowe bez problemu zmieszczą się w kieszeniach kurtki bądź damskiej torebce.</p>
<p>Czy fakt, że gra posiada nieskomplikowane zasady działa na jej niekorzyść? Nic bardziej mylnego! Co prawda mniej złożone zasady niejako ograniczają graczowi pole do popisu, to jednak dzięki temu gra jest lekka i relaksująca, i służy jako doskonały "zabijacz czasu".</p>
<h3 class="header" id="rules-summary">Streszczenie zasad</h3>
<figure class="figure figure--left"><img alt="Karta: Draco Malfoy" class="figure__item" src="/cards/3.jpg" />
    <figcaption class="figure__caption">Draco Malfoy, karta Postaci</figcaption>
</figure>
<p>Gra przeznaczona jest dla dwóch graczy. Ty oraz Twój przeciwnik jesteście czarodziejami z Hogwartu. Każdy z graczy posiada talię złożoną z 60 wybranych przez gracza magicznych kart <span class="bold">Czarów</span>, <span class="bold">Bestii</span>, <span class="bold">Przedmiotów</span> czy <span class="bold">Przygód</span>. Do tego doliczyć należy kartę postaci - wybraną kartę <span class="bold">Czarodzieja</span>, która będzie awatarem gracza. Może to być słynny Harry Potter, jego przyjaciele Ron lub Hermiona, a także czarne charaktery jak Profesor Snape lub Draco Malfoy.</p>
<p>Celem rozgrywki jest pokonanie przeciwnika. Osiągnąć ten cel można poprzez zadawanie przeciwnikowi obrażeń za pomocą kart czarów, potworów czy specjalnych umiejętności bohaterów. Obrażenia zadawane są bezpośrednio talii przeciwnika - oznacza to, że talia przeciwnika stanowi równocześnie jego pulę punktów życia. Zadawanie obrażeń zmniejsza liczbę kart, którymi może przeciwnik zagrać, więc w podwójny sposób przybliża to do zwycięstwa.</p>
<p class="no-indent">Jeśli interesują Cię szczegółowe zasady, zapraszam do sekcji <a href="/zasady">Zasady</a>.</p>

<p class="text--right"><a href="/o-grze">Powrót do sekcji "Gra"</a></p>