.thredded--main-container {
    // The padding and max-width are handled by the app's container.
    max-width: none;
    padding: 0;
    @include thredded-media-tablet-and-up {
        padding: 0;
    }
}

.thredded--button, .thredded--form--submit
{
    padding: 10px 25px;

    text-align: center;

    border: 1px solid $gold-dark;
    background: rgba(0, 0, 0, .3);
    color: $white;
    cursor: pointer;
    transition: background 0.1s ease-in-out;
}

.thredded--main-section p
{
    text-indent: 0;
    margin-bottom: 0;
}

.thredded--messageboard--title
{
    font-weight: bold;
    transition: color 0.1s ease-in-out;
}

.thredded--messageboard--meta
{
    font-size: 0.9em;
    float: left;
    padding-top: 3px;
}

.thredded--messageboard
{
    transition: background 0.1s ease-in-out;
    background: rgba(0, 0, 0, 0.2);
    border: 0;
}

.thredded--messageboard:focus
{
    background-color: rgba(245, 188, 83, 0.035);
}

.thredded--messageboard header
{
    overflow: hidden;
    margin-bottom: 8px;
}

.thredded--messageboard:hover .thredded--messageboard--title,
.thredded--messageboard:focus .thredded--messageboard--title
{
    color: $gold-light;
}

.thredded--messageboard--byline
{
    font-size: 0.75em;
    text-align: right !important;
}

.thredded--topics--title
{
    vertical-align: middle;
}

.thredded--topics--started-by, .thredded--topics--updated-by
{
    color: #aaa;
    float: right;
    padding-top: 7px;
}

.thredded--topics--started-by time, .thredded--topics--updated-by time
{
    margin-right: 10px;
}

.thredded--topics--posts-count
{
    position: static;
    margin-right: 15px;
}

.thredded--topics--follow-icon
{
    position: static;
}

.thredded--topics--follow-info
{
    float: right;
    padding-top: 7px;
    margin-left: 10px;
}

.thredded--form label
{
    font-weight: normal;
    font-size: .9em;
    margin-left: 15px;
    margin-bottom: 10px;
}

.thredded--form textarea
{
    color: #ddd;
    line-height: 1.8;
}

.thredded--form [type="color"], .thredded--form [type="date"], .thredded--form [type="datetime"], .thredded--form [type="datetime-local"], .thredded--form [type="email"], .thredded--form [type="month"], .thredded--form [type="number"], .thredded--form [type="password"], .thredded--form [type="search"], .thredded--form [type="tel"], .thredded--form [type="text"], .thredded--form [type="time"], .thredded--form [type="url"], .thredded--form [type="week"], .thredded--form input:not([type]), .thredded--form textarea, .thredded--form select[multiple="multiple"], .thredded--select2-container > .select2-choices
{
    transition: all 0.1s ease-in-out;
    padding: 10px 20px;
}

.thredded--form [type="color"]:focus, .thredded--form [type="date"]:focus, .thredded--form [type="datetime"]:focus, .thredded--form [type="datetime-local"]:focus, .thredded--form [type="email"]:focus, .thredded--form [type="month"]:focus, .thredded--form [type="number"]:focus, .thredded--form [type="password"]:focus, .thredded--form [type="search"]:focus, .thredded--form [type="tel"]:focus, .thredded--form [type="text"]:focus, .thredded--form [type="time"]:focus, .thredded--form [type="url"]:focus, .thredded--form [type="week"]:focus, .thredded--form input:focus:not([type]), .thredded--form textarea:focus, .thredded--form select[multiple="multiple"]:focus, .thredded--select2-container > .select2-choices:focus, .thredded--select2-container.select2-container-active > .select2-choices, .thredded--select2-container.select2-dropdown-open > .select2-choices
{
    box-shadow: none;
    border: 1px solid #543f1c;
    outline: none;
    background: rgba(25, 15, 10, .5);
}

.thredded--post--avatar
{
    position: static;
    vertical-align: middle;
}

.thredded--post--user
{
    vertical-align: middle;
}

.thredded--post--created-at
{
    vertical-align: middle;
    color: #aaa;
    padding-top: 2px;
}

.thredded--post header
{
    margin-bottom: 10px;
    padding-left: 20px;
}

.thredded--post:nth-child(even) header
{
    text-align: right;
    padding-right: 20px;
}

.thredded--post--content
{
    margin-bottom: 10px;
}

.thredded--flash-message
{
    display: none;
}

.thredded--messageboard--group
{
    margin-bottom: 20px;
    text-align: right;
    border-bottom: 1px solid $gold-dark;
    padding-bottom: 5px;
    margin-top: 40px;
}

.thredded--currently-online
{
    position: static;
    background: transparent;
    display: none;
}

.thredded--currently-online.thredded--is-expanded
{
    position: static;
}

.thredded--select2-drop
{
    background: rgba(0,0,0,0.4);
    border: 0;
    box-shadow: none;
}

.thredded--select2-container > .select2-choices > .select2-search-field
{
    margin-top: 0;
}

.thredded--select2-drop .select2-no-results, .thredded--select2-drop .select2-searching
{
    padding: 0.75rem;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active
{
    background: 0;
}

.thredded--topic-unread > .thredded--topics--posts-count
{
    background: $gold-dark;
    color: $white;
}

.thredded--alert
{
    background: rgba(0, 0, 0, 0.3) !important;
    border: 1px solid $gold-dark !important;
    color: $gold !important;
}

.thredded--topics--moderation-state
{
    display: block;
    margin-top: 15px;
}

.thredded--topic-header--follow-info form
{
    position: static !important;
    display: block;
}

.thredded--topic-header
{
    border-bottom: 1px solid $gold-dark;
    padding-bottom: 1rem;
    position:  static;
}

.thredded--user-navigation--private-topics--unread,
.thredded--user-navigation--moderation--pending-count
{
    background: $gold-dark;
    color: $white;
}

.thredded--moderated-notice
{
    background: $gold-dark;
}

.thredded--topic-header--started-by,
.thredded--topic-header--edit-topic,
.thredded--topic-header--follow-info
{
    color: $grey;
}