// Typography
$thredded-base-font-size: 1rem !default; // 16px
$thredded-font-size-small: 0.875rem !default; // 14px
$thredded-base-line-height: 1.5 !default;
$thredded-heading-font-family: inherit !default;
$thredded-heading-line-height: 1.2 !default;
$thredded-base-font-family: 'Roboto';

// Named colors
$thredded-brand: $gold;
$thredded-dark-gray: #333;
$thredded-light-gray: #eee;

// Colors of text, background, actions (links), and navigation
$thredded-text-color: $white;
$thredded-secondary-text-color: lighten($thredded-text-color, 30%);
$thredded-background-color: rgba(0, 0, 0, .3);
$thredded-action-color: $white;
$thredded-action-hover-color: darken($thredded-action-color, 15%);
$thredded-action-transition: color 0.1s ease-in-out;
$thredded-nav-color: $white;
$thredded-nav-hover-color: $gold-light !important;
$thredded-nav-current-color: $gold-light !important;
$thredded-secondary-nav-color: $thredded-secondary-text-color;
$thredded-spoiler-hidden-color: $thredded-light-gray;
$thredded-spoiler-shown-color: black;

// Colors of alerts and flash messages
$thredded-alert-danger-background: #fbe3e4 !default;
$thredded-alert-danger-color: #a94442 !default;
$thredded-alert-info-background: #e6f3fa !default;
$thredded-alert-info-color: darken($thredded-brand, 15%) !default;
$thredded-alert-success-background: #e6efc2 !default;
$thredded-alert-success-color: #3c763d !default;
$thredded-alert-warning-background: #fcf8e3 !default;
$thredded-alert-warning-color: #8a6d3b !default;

// Borders
$thredded-base-border-color: $gold-dark;
$thredded-base-border: 1px solid $thredded-base-border-color;
$thredded-blockquote-border-color: $gold-dark;

// Form inputs
$thredded-form-background: $thredded-background-color !default;
$thredded-form-border-color: darken($thredded-base-border-color, 5%) !default;
$thredded-form-border-hover-color: darken($thredded-form-border-color, 6.4%) !default;
$thredded-form-border-focus-color: $thredded-action-color !default;
$thredded-form-border: 1px solid $thredded-form-border-color !default;
$thredded-form-box-shadow: inset 0 1px 3px rgba(#000, 0.06) !default;
$thredded-form-color: $thredded-text-color !default;

// Buttons
$thredded-button-background: rgba(0, 0, 0, .3);
$thredded-button-color: $white;
$thredded-button-hover-background: rgba(25, 15, 10, .5);
$thredded-button-hover-color: $white;

$thredded-button-light-background: lighten($thredded-button-background, 35%);
$thredded-button-light-color: $thredded-button-color;
$thredded-button-light-hover-background: lighten($thredded-button-light-background, 15%);
$thredded-button-light-hover-color: $thredded-button-hover-color;

$thredded-button-border-radius: 0;
$thredded-button-font-family: $thredded-base-font-family;
$thredded-button-font-size: $thredded-font-size-small;
$thredded-button-font-weight: normal;
$thredded-button-line-height: 1.5;