<h2 class="header header--main">Spis kart</h2>
<p class="text--right"><a href="/cardlist">Powrót do spisu</a>
</p>
<h3 class="header">Edycja podstawowa</h3>
<table class="text--smaller table--cardlist">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Typ</th>
        <th>Koszt</th>
        <th>Opis</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Bludger</td>
        <td><span class="icon icon--r-p">premium</span> Item </td>
        <td>4 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Before each of your turns, Bludger does 3 damage to your opponent if a match is in play. (If no match, Bludger does no damage).</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Bludger</td>
        <td><span class="icon icon--r-r">rare</span> Item </td>
        <td>4 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Before each of your turns, Bludger does 3 damage to your opponent if a match is in play. (If no match, Bludger does no damage).</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Catch the Snitch</td>
        <td><span class="icon icon--r-p">premium</span> Spell </td>
        <td>7 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>You win the current Match. (You get the Prize.)</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Catch the Snitch</td>
        <td><span class="icon icon--r-r">rare</span> Spell </td>
        <td>7 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>You win the current Match. (You get the Prize.)</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Charms Exam</td>
        <td><span class="icon icon--r-p">premium</span> Spell </td>
        <td>7 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Your opponent discards his/her hand. Then he/she may draw any number of cards.</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Charms Exam</td>
        <td><span class="icon icon--r-r">rare</span> Spell </td>
        <td>7 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Your opponent discards his/her hand. Then he/she may draw any number of cards.</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Fluffy</td>
        <td><span class="icon icon--r-p">premium</span> Creature, <span class="bold">Unique</span>
        </td>
        <td>10 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>To play this card, discard 2 of your <span class="icon icon--l-c">care of magical creatures</span> Lessons from play. Damage: 12; Health: 21</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Fluffy</td>
        <td><span class="icon icon--r-r">rare</span> Creature, <span class="bold">Unique</span>
        </td>
        <td>10 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>To play this card, discard 2 of your <span class="icon icon--l-c">care of magical creatures</span> Lessons from play. Damage: 12; Health: 21</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Fred & George Weasley</td>
        <td><span class="icon icon--r-p">premium</span> Character Wizards/Gryffindor, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>You may use 1 Action (instead of 2) to put an Adventure card from your hand into play, even if you already have one in play. If you already had one in play, discard the old one. (Nobody gets the reward.)</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Fred & George Weasley</td>
        <td><span class="icon icon--r-r">rare</span> Character Wizards/Gryffindor, <span class="bold">Unique</span>
        </td>
        <td>-</td>
        <td>You may use 1 Action (instead of 2) to put an Adventure card from your hand into play, even if you already have one in play. If you already had one in play, discard the old one. (Nobody gets the reward.)</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Gaze into the Mirror</td>
        <td><span class="icon icon--r-p">premium</span> Adventure </td>
        <td>-</td>
        <td>Effect: During your opponent's turns, prevent all Spells damage done to you by Spell cards. To Solve: Your opponent chooses 5 Spell cards in his or her hand and discards them. Opponent's Reward: Opponent gets 1 more Action (the turn this adventure is solved).</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Gaze into the Mirror</td>
        <td><span class="icon icon--r-r">rare</span> Adventure </td>
        <td>-</td>
        <td>Effect: During your opponent's turns, prevent all Spells damage done to you by Spell cards. To Solve: Your opponent chooses 5 Spell cards in his or her hand and discards them. Opponent's Reward: Opponent gets 1 more Action (the turn this adventure is solved).</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Gold Cauldron</td>
        <td><span class="icon icon--r-p">premium</span> Item </td>
        <td>9 <span class="icon icon--l-p">potions</span>
        </td>
        <td>Provides: <span class="icon icon--l-p">potions</span><span class="icon icon--l-p">potions</span><span class="icon icon--l-p">potions</span><span class="icon icon--l-p">potions</span><span class="icon icon--l-p">potions</span> To play this card, return 2 of your <span class="icon icon--l-p">potions</span> Lessons from play to your hand.</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Gold Cauldron</td>
        <td><span class="icon icon--r-r">rare</span> Item </td>
        <td>9 <span class="icon icon--l-p">potions</span>
        </td>
        <td>Provides: <span class="icon icon--l-p">potions</span><span class="icon icon--l-p">potions</span><span class="icon icon--l-p">potions</span><span class="icon icon--l-p">potions</span><span class="icon icon--l-p">potions</span> To play this card, return 2 of your <span class="icon icon--l-p">potions</span> Lessons from play to your hand.</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Golden Snitch</td>
        <td><span class="icon icon--r-p">premium</span> Item </td>
        <td>11 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>At the end of your opponent's turn, you win the game unless your opponent has at least 10 more cards in his or her deck than you do. (If he or she does, your opponent wins the game instead.)</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Golden Snitch</td>
        <td><span class="icon icon--r-r">rare</span> Item </td>
        <td>11 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>At the end of your opponent's turn, you win the game unless your opponent has at least 10 more cards in his or her deck than you do. (If he or she does, your opponent wins the game instead.)</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Hagrid Needs Help</td>
        <td><span class="icon icon--r-p">premium</span> Adventure </td>
        <td>-</td>
        <td>Effect: Your opponent gets one fewer Action on each of his or her turns (even the turn this Adventure is solved).(If this would mean your opponent has fewer than 1 Action, he or she still gets one Action.) To Solve: You opponent takes 8 damage. Opponent's Reward: Your opponent may draw 3 cards.</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Hagrid Needs Help</td>
        <td><span class="icon icon--r-r">rare</span> Adventure </td>
        <td>-</td>
        <td>Effect: Your opponent gets one fewer Action on each of his or her turns (even the turn this Adventure is solved).(If this would mean your opponent has fewer than 1 Action, he or she still gets one Action.) To Solve: You opponent takes 8 damage. Opponent's Reward: Your opponent may draw 3 cards.</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Halloween Feast</td>
        <td><span class="icon icon--r-p">premium</span> Spell </td>
        <td>4 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Put up to 4 Creature cards from your discard pile into your hand.</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Halloween Feast</td>
        <td><span class="icon icon--r-r">rare</span> Spell </td>
        <td>4 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Put up to 4 Creature cards from your discard pile into your hand.</td>
    </tr>
    <tr>
        <td>11</td>
        <td>Harry the Seeker</td>
        <td><span class="icon icon--r-p">premium</span> Character Wizard/Gryffindor, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>Once during each of your turns, when you use an Action to play a <span class="icon icon--l-q">quidditch</span> lesson, you may draw a card.</td>
    </tr>
    <tr>
        <td>11</td>
        <td>Harry the Seeker</td>
        <td><span class="icon icon--r-r">rare</span> Character Wizard/Gryffindor, <span class="bold">Unique</span>
        </td>
        <td>-</td>
        <td>Once during each of your turns, when you use an Action to play a <span class="icon icon--l-q">quidditch</span> lesson, you may draw a card.</td>
    </tr>
    <tr>
        <td>12</td>
        <td>Hospital bed</td>
        <td><span class="icon icon--r-p">premium</span> Item </td>
        <td>9 <span class="icon icon--l-p">potions</span>
        </td>
        <td>You may use an Action to search your deck. You may take a Healing card, show it to your opponent and put it into your hand. Then shuffle your deck.</td>
    </tr>
    <tr>
        <td>12</td>
        <td>Hospital bed</td>
        <td><span class="icon icon--r-r">rare</span> Item </td>
        <td>9 <span class="icon icon--l-p">potions</span>
        </td>
        <td>You may use an Action to search your deck. You may take a Healing card, show it to your opponent and put it into your hand. Then shuffle your deck.</td>
    </tr>
    <tr>
        <td>13</td>
        <td>Madam Rolanda Hooch</td>
        <td><span class="icon icon--r-p">premium</span> Character Witch, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>Provides: <span class="icon icon--l-q">quidditch</span> Once per game, you may search your deck. When you do, you may take a Broom card from your deck, show it to your opponent and put it into your hand. Then shuffle your deck.</td>
    </tr>
    <tr>
        <td>13</td>
        <td>Madam Rolanda Hooch</td>
        <td><span class="icon icon--r-r">rare</span> Character Witch, <span class="bold">Unique</span>
        </td>
        <td>-</td>
        <td>Provides: <span class="icon icon--l-q">quidditch</span> Once per game, you may search your deck. When you do, you may take a Broom card from your deck, show it to your opponent and put it into your hand. Then shuffle your deck.</td>
    </tr>
    <tr>
        <td>14</td>
        <td>Marcus Flint</td>
        <td><span class="icon icon--r-p">premium</span> Character Wizard/Slytherin, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>Once per game, you may make your opponent choose 3 cards in his or her hand and discard them. (If there are fewer than 3 cards in your opponent's hand, he or she discards them all.)</td>
    </tr>
    <tr>
        <td>14</td>
        <td>Marcus Flint</td>
        <td><span class="icon icon--r-r">rare</span> Character Wizard/Slytherin, <span class="bold">Unique</span>
        </td>
        <td>-</td>
        <td>Once per game, you may make your opponent choose 3 cards in his or her hand and discard them. (If there are fewer than 3 cards in your opponent's hand, he or she discards them all.)</td>
    </tr>
    <tr>
        <td>15</td>
        <td>Neville Longbottom</td>
        <td><span class="icon icon--r-p">premium</span> Character Wizard/Gryffindor, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>Your may prevent all but the first 8 damage done to you each turn.</td>
    </tr>
    <tr>
        <td>15</td>
        <td>Neville Longbottom</td>
        <td><span class="icon icon--r-r">rare</span> Character Wizard/Gryffindor, <span class="bold">Unique</span>
        </td>
        <td>-</td>
        <td>Your may prevent all but the first 8 damage done to you each turn.</td>
    </tr>
    <tr>
        <td>16</td>
        <td>Nimbus Two Thousand</td>
        <td><span class="icon icon--r-p">premium</span> Item/Broom </td>
        <td>7 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Provides: <span class="icon icon--l-q">quidditch</span> Whenever 1 of your Item or Spell cards that needs <span class="icon icon--l-q">quidditch</span> Power does damage, it does 2 more damage. If you play this card, and you already have a Broom in play, discard the old one.</td>
    </tr>
    <tr>
        <td>16</td>
        <td>Nimbus Two Thousand</td>
        <td><span class="icon icon--r-r">rare</span> Item/Broom </td>
        <td>7 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Provides: <span class="icon icon--l-q">quidditch</span> Whenever 1 of your Item or Spell cards that needs <span class="icon icon--l-q">quidditch</span> Power does damage, it does 2 more damage. If you play this card, and you already have a Broom in play, discard the old one.</td>
    </tr>
    <tr>
        <td>17</td>
        <td>No time to play</td>
        <td><span class="icon icon--r-p">premium</span> Spell </td>
        <td>4 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Discard all Matches and items that need <span class="icon icon--l-q">quidditch</span> Power from play (even your own). (If a match is discarded, no-one gets the prize).</td>
    </tr>
    <tr>
        <td>17</td>
        <td>No time to play</td>
        <td><span class="icon icon--r-r">rare</span> Spell </td>
        <td>4 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Discard all Matches and items that need <span class="icon icon--l-q">quidditch</span> Power from play (even your own). (If a match is discarded, no-one gets the prize).</td>
    </tr>
    <tr>
        <td>18</td>
        <td>Oliver Wood</td>
        <td><span class="icon icon--r-p">premium</span> Character Wizard/Gryffindor, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>Once per game, when 1 of your Spell cards that needs <span class="icon icon--l-q">quidditch</span> Power does damage, you may have it do 8 more damage.</td>
    </tr>
    <tr>
        <td>18</td>
        <td>Oliver Wood</td>
        <td><span class="icon icon--r-r">rare</span> Character Wizard/Gryffindor, <span class="bold">Unique</span>
        </td>
        <td>-</td>
        <td>Once per game, when 1 of your Spell cards that needs <span class="icon icon--l-q">quidditch</span> Power does damage, you may have it do 8 more damage.</td>
    </tr>
    <tr>
        <td>19</td>
        <td>Out of Control</td>
        <td><span class="icon icon--r-p">premium</span> Spell </td>
        <td>10 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Do 6 damage to your opponent. Then your opponent chooses 4 cards in his or her hand and discards them. (If there are fewer than 4 cards in your opponent's hand, he or she discards them all.)</td>
    </tr>
    <tr>
        <td>19</td>
        <td>Out of Control</td>
        <td><span class="icon icon--r-r">rare</span> Spell </td>
        <td>10 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Do 6 damage to your opponent. Then your opponent chooses 4 cards in his or her hand and discards them. (If there are fewer than 4 cards in your opponent's hand, he or she discards them all.)</td>
    </tr>
    <tr>
        <td>20</td>
        <td>Potions Class Disaster</td>
        <td><span class="icon icon--r-p">premium</span> Spell </td>
        <td>12 <span class="icon icon--l-p">potions</span>
        </td>
        <td>Your opponent chooses 5 of his or her cards and discards them. Those cards can come from his or her hand or from play or from both. (If there are fewer than 5 total cards in your opponent's hand and in play, he or she discards them all.)</td>
    </tr>
    <tr>
        <td>20</td>
        <td>Potions Class Disaster</td>
        <td><span class="icon icon--r-r">rare</span> Spell </td>
        <td>12 <span class="icon icon--l-p">potions</span>
        </td>
        <td>Your opponent chooses 5 of his or her cards and discards them. Those cards can come from his or her hand or from play or from both. (If there are fewer than 5 total cards in your opponent's hand and in play, he or she discards them all.)</td>
    </tr>
    <tr>
        <td>21</td>
        <td>Prof. Mivera McGonagall</td>
        <td><span class="icon icon--r-p">premium</span> Character Witch/Gryffindor, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>Provides: <span class="icon icon--l-t">transfiguration</span> Once per game, you may discard the Adventure your opponent has played. (You don't get the reward.)</td>
    </tr>
    <tr>
        <td>21</td>
        <td>Prof. Mivera McGonagall</td>
        <td><span class="icon icon--r-r">rare</span> Character Witch/Gryffindor, <span class="bold">Unique</span>
        </td>
        <td>-</td>
        <td>Provides: <span class="icon icon--l-t">transfiguration</span> Once per game, you may discard the Adventure your opponent has played. (You don't get the reward.)</td>
    </tr>
    <tr>
        <td>22</td>
        <td>Put-Outer</td>
        <td><span class="icon icon--r-p">premium</span> Item </td>
        <td>4 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>You may use 2 Actions to choose 1 of your opponent's cards in play (other than his or her starting Character) and return it to his or her hand.</td>
    </tr>
    <tr>
        <td>22</td>
        <td>Put-Outer</td>
        <td><span class="icon icon--r-r">rare</span> Item </td>
        <td>4 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>You may use 2 Actions to choose 1 of your opponent's cards in play (other than his or her starting Character) and return it to his or her hand.</td>
    </tr>
    <tr>
        <td>23</td>
        <td>Ravenclaw Match</td>
        <td><span class="icon icon--r-p">premium</span> Match </td>
        <td>1 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>To Win: Do 10 damage to your opponent while this card is in play. (That damage doesn't have to be done all at once.) Prize: The winner searches his or her deck. He or she may take up to 2 Lesson cards from his or her deck and put them into play. Then that player shuffles his or her deck.</td>
    </tr>
    <tr>
        <td>23</td>
        <td>Ravenclaw Match</td>
        <td><span class="icon icon--r-r">rare</span> Match </td>
        <td>1 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>To Win: Do 10 damage to your opponent while this card is in play. (That damage doesn't have to be done all at once.) Prize: The winner searches his or her deck. He or she may take up to 2 Lesson cards from his or her deck and put them into play. Then that player shuffles his or her deck.</td>
    </tr>
    <tr>
        <td>24</td>
        <td>Scabbers</td>
        <td><span class="icon icon--r-p">premium</span> Creature, <span class="bold">Unique</span>
        </td>
        <td>4 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>If Scabbers is discarded from play during your opponent's turn, put it into your hand. Damage: 1; Health: 3</td>
    </tr>
    <tr>
        <td>24</td>
        <td>Scabbers</td>
        <td><span class="icon icon--r-r">rare</span> Creature, <span class="bold">Unique</span>
        </td>
        <td>4 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>If Scabbers is discarded from play during your opponent's turn, put it into your hand. Damage: 1; Health: 3</td>
    </tr>
    <tr>
        <td>25</td>
        <td>Seamus Finnigan</td>
        <td><span class="icon icon--r-p">premium</span> Character Wizard/Gryffindor, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>Once during each of your turns, you may discard 2 cards from your hand to get 1 more Action.</td>
    </tr>
    <tr>
        <td>25</td>
        <td>Seamus Finnigan</td>
        <td><span class="icon icon--r-r">rare</span> Character Wizard/Gryffindor, <span class="bold">Unique</span>
        </td>
        <td>-</td>
        <td>Once during each of your turns, you may discard 2 cards from your hand to get 1 more Action.</td>
    </tr>
    <tr>
        <td>26</td>
        <td>Slytherin Match</td>
        <td><span class="icon icon--r-p">premium</span> Match/Healing </td>
        <td>1 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>To Win: Do 15 damage to your opponent while this card is in play (That damage doesn't have to be done all at once.) Prize: The winner may shuffle up to 15 non-Healing cards from his or her discard pile into his or her deck.</td>
    </tr>
    <tr>
        <td>26</td>
        <td>Slytherin Match</td>
        <td><span class="icon icon--r-r">rare</span> Match/Healing </td>
        <td>1 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>To Win: Do 15 damage to your opponent while this card is in play (That damage doesn't have to be done all at once.) Prize: The winner may shuffle up to 15 non-Healing cards from his or her discard pile into his or her deck.</td>
    </tr>
    <tr>
        <td>27</td>
        <td>Start-of-Term Feast</td>
        <td><span class="icon icon--r-p">premium</span> Spell </td>
        <td>4 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Put up to 4 lesson cards from your discard pile into your hand.</td>
    </tr>
    <tr>
        <td>27</td>
        <td>Start-of-Term Feast</td>
        <td><span class="icon icon--r-r">rare</span> Spell </td>
        <td>4 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Put up to 4 lesson cards from your discard pile into your hand.</td>
    </tr>
    <tr>
        <td>28</td>
        <td>Support Banner</td>
        <td><span class="icon icon--r-p">premium</span> Item </td>
        <td>5 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>At the end of your turn, draw a card if you played at least 1 Spell card that needs <span class="icon icon--l-q">quidditch</span> Power that turn.</td>
    </tr>
    <tr>
        <td>28</td>
        <td>Support Banner</td>
        <td><span class="icon icon--r-r">rare</span> Item </td>
        <td>5 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>At the end of your turn, draw a card if you played at least 1 Spell card that needs <span class="icon icon--l-q">quidditch</span> Power that turn.</td>
    </tr>
    <tr>
        <td>29</td>
        <td>The Sorting Hat</td>
        <td><span class="icon icon--r-p">premium</span> Item </td>
        <td>8 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>You may use 2 Actions to search your deck. You may take a Character card of a Character that isn't already in play and put it into play. Then shuffle your deck.</td>
    </tr>
    <tr>
        <td>29</td>
        <td>The Sorting Hat</td>
        <td><span class="icon icon--r-r">rare</span> Item </td>
        <td>8 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>You may use 2 Actions to search your deck. You may take a Character card of a Character that isn't already in play and put it into play. Then shuffle your deck.</td>
    </tr>
    <tr>
        <td>30</td>
        <td>Trevor</td>
        <td><span class="icon icon--r-p">premium</span> Creature, <span class="bold">Unique</span>
        </td>
        <td>3 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>When you play this card, you may put a Lesson card from your discard pile into your hand. Whenever a Spell card damages you, you may let Trevor take that damage instead. Health: 1</td>
    </tr>
    <tr>
        <td>30</td>
        <td>Trevor</td>
        <td><span class="icon icon--r-r">rare</span> Creature, <span class="bold">Unique</span>
        </td>
        <td>3 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>When you play this card, you may put a Lesson card from your discard pile into your hand. Whenever a Spell card damages you, you may let Trevor take that damage instead. Health: 1</td>
    </tr>
    <tr>
        <td>31</td>
        <td>Chocolate Frogs</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>1 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Search your deck. You may take a Wizard or a Witch card from your deck, show it to your opponent and put it into your hand. Then shuffle your deck.</td>
    </tr>
    <tr>
        <td>32</td>
        <td>Comet Two Sixty</td>
        <td><span class="icon icon--r-u">uncommon</span> Item/Broom </td>
        <td>3 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Provides: <span class="icon icon--l-q">quidditch</span> Once during each of your opponent's turns, you may prevent 1 damage done to you. If you play this card, and you already have a Broom in play, discard the old one.</td>
    </tr>
    <tr>
        <td>33</td>
        <td>Defence!</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>10 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>During your opponent's next turn, prevent all damage done to you.</td>
    </tr>
    <tr>
        <td>34</td>
        <td>Devil's Snare</td>
        <td><span class="icon icon--r-u">uncommon</span> Creature/Plant </td>
        <td>4 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>To play this card, discard 1 of your <span class="icon icon--l-c">care of magical creatures</span> Lessons from play. At the end of each of your turns, remove all damage counters from Devil's Snare. Damage: 2; Health: 6</td>
    </tr>
    <tr>
        <td>35</td>
        <td>Diffindo</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>8 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Choose 1 of your opponent's cards in play (other than his or her starting Character). Your opponent discards that card.</td>
    </tr>
    <tr>
        <td>36</td>
        <td>Doxy</td>
        <td><span class="icon icon--r-u">uncommon</span> Creature/Fairy </td>
        <td>6 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>When you play this card, you may choose another Creature in play. Do 2 damage to it. Damage: 2; Health: 1</td>
    </tr>
    <tr>
        <td>37</td>
        <td>Hufflepuff Match</td>
        <td><span class="icon icon--r-u">uncommon</span> Match </td>
        <td>1 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>To Win: Do 8 damage to your opponent while this card is in play. (That damage doesn't have to be done all at once.) Prize: The winner may draw 5 cards, the loose takes 5 damage.</td>
    </tr>
    <tr>
        <td>38</td>
        <td>In the Stands</td>
        <td><span class="icon icon--r-u">uncommon</span> Adventure </td>
        <td>-</td>
        <td>Effect: Your opponent can't play creature cards. To Solve: Your opponent chooses 4 Creature cards in his or her hand and discard them. Opponent's Reward: Your opponent may draw a card</td>
    </tr>
    <tr>
        <td>39</td>
        <td>Into the Forbidden Forest</td>
        <td><span class="icon icon--r-u">uncommon</span> Adventure </td>
        <td>-</td>
        <td>Effect: Your opponent can't play creature cards. To Solve: Your opponent chooses 4 Creature cards in his or her hand and discard them. Opponent's Reward: Your opponent may draw a card</td>
    </tr>
    <tr>
        <td>40</td>
        <td>Jawbind Potion</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>4 <span class="icon icon--l-p">potions</span>
        </td>
        <td>Do 2 damage to your opponent. During your opponent's next turn, he or she can't play Spell cards.</td>
    </tr>
    <tr>
        <td>41</td>
        <td>Missing Parchment</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>2 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Look at your opponent's hand. If there are any Spell cards there, choose 1 of them and discard it.</td>
    </tr>
    <tr>
        <td>42</td>
        <td>Penalty Shot</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>5 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Draw 3 cards.</td>
    </tr>
    <tr>
        <td>43</td>
        <td>Pep Talk</td>
        <td><span class="icon icon--r-u">uncommon</span> Adventure </td>
        <td>-</td>
        <td>Effect: The first Action your opponent uses on each of his or her turns must be used to draw a card. To Solve: Your opponent shows you a card from his or her hand with a (printed) Power needed of 8 or more. Opponent's Reward: Your opponent may draw 2 card</td>
    </tr>
    <tr>
        <td>44</td>
        <td>Petificus Totalus</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>1 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Choose 1 of either player's Creatures in play and a Lesson card in that player's discard pile. Discard that Creature and put that Lesson card into play.</td>
    </tr>
    <tr>
        <td>45</td>
        <td>Power Play</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>6 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Play this card only if a Match is in play. Do 7 damage to your opponent.</td>
    </tr>
    <tr>
        <td>46</td>
        <td>Race for the snitch</td>
        <td><span class="icon icon--r-u">uncommon</span> Adventure </td>
        <td>-</td>
        <td>Effect: Your opponent discards the card he or she draws at the start of each of his or her turns. To Solve: Your opponent discards his or her hand. Opponent's Reward: You discard your hand.</td>
    </tr>
    <tr>
        <td>47</td>
        <td>Snape's Bias</td>
        <td><span class="icon icon--r-u">uncommon</span> Adventure </td>
        <td>-</td>
        <td>Effect: Your opponent can't use Actions to draw cards. To Solve: Your opponent lets you search your deck for up to 2 cards and put them into your hand. Then shuffle your deck. Opponent's Reward: Your opponent may draw a card.</td>
    </tr>
    <tr>
        <td>48</td>
        <td>Sticking Up for Neville</td>
        <td><span class="icon icon--r-u">uncommon</span> Adventure </td>
        <td>-</td>
        <td>Effect: Before each of your turns, your opponent takes 4 damage. To Solve: Your opponent discards his or her hand. Opponent's Reward: Your opponent may put up to 4 non-Healing cards from his or her discard pile on the bottom of his or her deck (in any order).</td>
    </tr>
    <tr>
        <td>49</td>
        <td>Strategy Session</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>3 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>You may put up to 3 Quidditch Lesson from your hand into play.</td>
    </tr>
    <tr>
        <td>50</td>
        <td>Weakness Potion</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>7 <span class="icon icon--l-p">potions</span>
        </td>
        <td>To play this card, discard 1 of your <span class="icon icon--l-p">potions</span> Lessons from play. Do 5 damage to your opponent. During your opponent's next turn, prevent all damage done to you by your opponent's Creatures.</td>
    </tr>
    <tr>
        <td>51</td>
        <td>Bloodroot Poison</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>2 <span class="icon icon--l-p">potions</span>
        </td>
        <td>To play this card, discard 1 of your <span class="icon icon--l-p">potions</span> Lessons from play. Do 4 damage to your opponent or to a Creature of your choice</td>
    </tr>
    <tr>
        <td>52</td>
        <td>Bravado</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>3 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>For the rest of this turn, your Spell cards need 5 less Power to play. (You will still need at least 1 Power that matches.)</td>
    </tr>
    <tr>
        <td>53</td>
        <td>Bruiswort Balm</td>
        <td><span class="icon icon--r-c">common</span> Spell/Healing </td>
        <td>3 <span class="icon icon--l-p">potions</span>
        </td>
        <td>Shuffle up to 5 non-healing cards from your discard pile into your deck.</td>
    </tr>
    <tr>
        <td>54</td>
        <td>Cleansweep Seven</td>
        <td><span class="icon icon--r-c">common</span> Item/Broom </td>
        <td>2 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Provides: <span class="icon icon--l-q">quidditch</span> When you play this card, look at the top 4 cards of your deck and put them back on top in any order. (If there are fewer than 4, look at all of them.) If you play this card, and you already have a Broom in play, discard the old one.</td>
    </tr>
    <tr>
        <td>55</td>
        <td>Cobbing</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>7 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Do 4 damage to your opponent. Then, if your opponent has any cards in play,he or she chooses 1 of them and discards it.</td>
    </tr>
    <tr>
        <td>56</td>
        <td>Cobra Lily</td>
        <td><span class="icon icon--r-c">common</span> Creature/Plant </td>
        <td>5 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>At the end of each of your turns, remove all damage counters from Cobra Lily. Damage: 2; Health: 3</td>
    </tr>
    <tr>
        <td>57</td>
        <td>Cunning Fox</td>
        <td><span class="icon icon--r-c">common</span> Creature/Fox </td>
        <td>5 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>Damage: 3; Health: 1</td>
    </tr>
    <tr>
        <td>58</td>
        <td>Desk Into Pig</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>1 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>To play this card, discard 1 of your Lessons from play. Search your deck. You may take up to 3 Creature cards from your deck, show them to your opponent and put them into your hand. Then shuffle your deck.</td>
    </tr>
    <tr>
        <td>59</td>
        <td>Drowsiness Draught</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>8 <span class="icon icon--l-p">potions</span>
        </td>
        <td>Do 3 damage to your opponent. During your opponent's next turn, he or she can't use Actions to play Lesson cards.</td>
    </tr>
    <tr>
        <td>60</td>
        <td>Fouled!</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>4 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Do 4 damage to your opponent. During your opponent's next turn, he or she gets 1 fewer Action. (If this would mean your opponent has fewer than 1 Action, he or she still gets 1 Action).</td>
    </tr>
    <tr>
        <td>61</td>
        <td>Gone!</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>1 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Look at your opponent's hand. If there are any Creature cards there, choose one and discard it.</td>
    </tr>
    <tr>
        <td>62</td>
        <td>Mice to Snuffleboxes</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>5 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Choose up to 2 Creatures in play and return them to their owners' hands.</td>
    </tr>
    <tr>
        <td>63</td>
        <td>Mopsus Potion</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>8 <span class="icon icon--l-p">potions</span>
        </td>
        <td>Do 3 damage to your opponent or to a Creature of your choice.</td>
    </tr>
    <tr>
        <td>64</td>
        <td>Ouch!</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>5 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Do 5 damage to your opponent. Then, if your opponent has any cards in his or her hand, he or she chooses 1 of them and discards it.</td>
    </tr>
    <tr>
        <td>65</td>
        <td>Practice Match</td>
        <td><span class="icon icon--r-c">common</span> Match </td>
        <td>1 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>To Win: Do 5 damage to your opponent while this card is in play. (That damage doesn't have to be done all at once.) Prize: The winner may draw 4 cards.</td>
    </tr>
    <tr>
        <td>66</td>
        <td>Pulling Up</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>4 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Do 2 damage to your opponent. Then draw 2 cards.</td>
    </tr>
    <tr>
        <td>67</td>
        <td>Research</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>5 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>To play this card, discard 1 of your Lessons from play. Search your deck. You may put up to 2 Lesson cards from your deck into play. Then shuffle your deck.</td>
    </tr>
    <tr>
        <td>68</td>
        <td>Rope Bind</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>3 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Do 2 damage to your opponent or to a creature of your choice. Then draw a card.</td>
    </tr>
    <tr>
        <td>69</td>
        <td>Searching for the Snitch</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>2 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Search you deck. You may take a quidditch lesson or a card that needs quidditch Power from you deck, show it to your opponent and put it into your hand. Then shuffle your deck.</td>
    </tr>
    <tr>
        <td>70</td>
        <td>Smash!</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>2 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Choose 1 of your opponent's Items in plan and discard it.</td>
    </tr>
    <tr>
        <td>71</td>
        <td>Stream of Flames</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>5 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Do 3 Damage to your opponent. You may also choose a Creature in play and do 3 damage to it.</td>
    </tr>
    <tr>
        <td>72</td>
        <td>Streeler</td>
        <td><span class="icon icon--r-c">common</span> Creature/Snail </td>
        <td>4 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>When you play this card, you may choose another Creature in play. Do 1 Damage to it. Damage: 1; Health: 2</td>
    </tr>
    <tr>
        <td>73</td>
        <td>Swarm!</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>5 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>Count the number or Creatures in play (yours and your opponent's) Do that much damage to your opponent.</td>
    </tr>
    <tr>
        <td>74</td>
        <td>Time Out</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>1 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Look at the top 6 cards of your deck and put them back on top in any order. (If there are fewer than 6, look at all of them.)</td>
    </tr>
    <tr>
        <td>75</td>
        <td>Vanish</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>7 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Choose 1 of your opponent's Creatures or Characters in play (other than his or her starting Character) and put it on the bottom of his or her deck.</td>
    </tr>
    <tr>
        <td>76</td>
        <td>Care of Magical Creatures</td>
        <td>Lesson</td>
        <td>-</td>
        <td>Provides: <span class="icon icon--l-c">care of magical creatures</span>
        </td>
    </tr>
    <tr>
        <td>77</td>
        <td>Charms</td>
        <td>Lesson</td>
        <td>-</td>
        <td>Provides: <span class="icon icon--l-ch">charms</span>
        </td>
    </tr>
    <tr>
        <td>78</td>
        <td>Potions</td>
        <td>Lesson</td>
        <td>-</td>
        <td>Provides: <span class="icon icon--l-p">potions</span>
        </td>
    </tr>
    <tr>
        <td>79</td>
        <td>Quidditch</td>
        <td>Lesson</td>
        <td>-</td>
        <td>Provides: <span class="icon icon--l-q">quidditch</span>
        </td>
    </tr>
    <tr>
        <td>80</td>
        <td>Transfiguration</td>
        <td>Lesson</td>
        <td>-</td>
        <td>Provides: <span class="icon icon--l-t">transfiguration</span>
        </td>
    </tr>
    <tr>
        <td>80</td>
        <td>Quidditch Cup Rules Card</td>
        <td></td>
        <td>-</td>
        <td></td>
    </tr>
    </tbody>
</table>