<% content_for :title do %>
    Lista kart Diagon Alley
<% end %>
<h2 class="header header--main">Spis kart</h2>
<p class="text--right"><a href="/cardlist">Powrót do spisu</a>
</p>
<h3 class="header">Diagon Alley</h3>
<table class="text--smaller table--cardlist">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Typ</th>
        <th>Koszt</th>
        <th>Opis</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Beater Grabs the Snitch</td>
        <td><span class="icon icon--r-p">premium</span> Spell </td>
        <td>4 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Return a match in play to its owner's hand</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Beater Grabs the Snitch</td>
        <td><span class="icon icon--r-r">rare</span> Spell </td>
        <td>4 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Return a match in play to its owner's hand</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Bulgeye Potion</td>
        <td><span class="icon icon--r-p">premium</span> Item </td>
        <td>10 <span class="icon icon--l-p">potions</span>
        </td>
        <td>You may use an action and discard this card from play to do 13 damage to your opponent.</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Bulgeye Potion</td>
        <td><span class="icon icon--r-r">rare</span> Item </td>
        <td>10 <span class="icon icon--l-p">potions</span>
        </td>
        <td>You may use an action and discard this card from play to do 13 damage to your opponent.</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Christmas Feast</td>
        <td><span class="icon icon--r-p">premium</span> Spell </td>
        <td>4 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Put up to 4 non-Healing item cards from your discard pile into your hand.</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Christmas Feast</td>
        <td><span class="icon icon--r-r">rare</span> Spell </td>
        <td>4 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Put up to 4 non-Healing item cards from your discard pile into your hand.</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Colour-Changing Ink</td>
        <td><span class="icon icon--r-p">premium</span> Item </td>
        <td>4 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>You may use an action to count the cards in your hand. Put them all on the bottom of your deck (in any order), and then draw that many cards.</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Colour-Changing Ink</td>
        <td><span class="icon icon--r-r">rare</span> Item </td>
        <td>4 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>You may use an action to count the cards in your hand. Put them all on the bottom of your deck (in any order), and then draw that many cards.</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Draco Malfoy, Slytherin</td>
        <td><span class="icon icon--r-p">premium</span> Character Wizard/Slytherin, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>Once during each of your turns, when you use an action to play an item card, you get 1 more action that turn.</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Draco Malfoy, Slytherin</td>
        <td><span class="icon icon--r-r">rare</span> Character Wizard/Slytherin, <span class="bold">Unique</span>
        </td>
        <td>-</td>
        <td>Once during each of your turns, when you use an action to play an item card, you get 1 more action that turn.</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Dragon-Hide Gloves</td>
        <td><span class="icon icon--r-p">premium</span> Item </td>
        <td>8 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>Whenever a creature does damage to you, prevent 1 of that damage.</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Dragon-Hide Gloves</td>
        <td><span class="icon icon--r-r">rare</span> Item </td>
        <td>8 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>Whenever a creature does damage to you, prevent 1 of that damage.</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Eeylops Owl Emporium</td>
        <td><span class="icon icon--r-p">premium</span> Location, <span class="bold">Unique</span>
        </td>
        <td>4 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>When you play this card, discard any other location from play (yours or your opponent's). Each Owl has 1 more health. Whenever an Owl does damage, it does 1 more damage.</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Eeylops Owl Emporium</td>
        <td><span class="icon icon--r-r">rare</span> Location, <span class="bold">Unique</span>
        </td>
        <td>4 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>When you play this card, discard any other location from play (yours or your opponent's). Each Owl has 1 more health. Whenever an Owl does damage, it does 1 more damage.</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Flourish and Blotts</td>
        <td><span class="icon icon--r-p">premium</span> Location, <span class="bold">Unique</span>
        </td>
        <td>3 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>When you play this card, discard any other location from play (yours or your opponent's). Either player may use an action and discard 2 of his or her lessons from play to draw 5 cards.</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Flourish and Blotts</td>
        <td><span class="icon icon--r-r">rare</span> Location, <span class="bold">Unique</span>
        </td>
        <td>3 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>When you play this card, discard any other location from play (yours or your opponent's). Either player may use an action and discard 2 of his or her lessons from play to draw 5 cards.</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Good Night's Sleep</td>
        <td><span class="icon icon--r-p">premium</span> Spell, Healing </td>
        <td>10 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Choose 1 of your characters in play that has a "once per game" ability you have already used. Use that ability.</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Good Night's Sleep</td>
        <td><span class="icon icon--r-r">rare</span> Spell, Healing </td>
        <td>10 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Choose 1 of your characters in play that has a "once per game" ability you have already used. Use that ability.</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Gringotts</td>
        <td><span class="icon icon--r-p">premium</span> Location, <span class="bold">Unique</span>
        </td>
        <td>4 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>When you play this card, discard an other location from play (yours or your opponent's). Each player gets 1 more Action on each of his or her turns (including the turn you play this card).</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Gringotts</td>
        <td><span class="icon icon--r-r">rare</span> Location, <span class="bold">Unique</span>
        </td>
        <td>4 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>When you play this card, discard an other location from play (yours or your opponent's). Each player gets 1 more Action on each of his or her turns (including the turn you play this card).</td>
    </tr>
    <tr>
        <td>11</td>
        <td>Gringotts Vault Key</td>
        <td><span class="icon icon--r-p">premium</span> Spell </td>
        <td>6 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Search your deck. You may take any card from your deck and put it into your hand. Then shuffle your deck</td>
    </tr>
    <tr>
        <td>11</td>
        <td>Gringotts Vault Key</td>
        <td><span class="icon icon--r-r">rare</span> Spell </td>
        <td>6 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Search your deck. You may take any card from your deck and put it into your hand. Then shuffle your deck</td>
    </tr>
    <tr>
        <td>12</td>
        <td>Griphook</td>
        <td><span class="icon icon--r-p">premium</span> Character, Goblin, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>Once per game, you may make your opponent discard his or her hand. Then your opponent draws as many cards as he or she discarded in this way</td>
    </tr>
    <tr>
        <td>12</td>
        <td>Griphook</td>
        <td><span class="icon icon--r-r">rare</span> Character, Goblin, <span class="bold">Unique</span>
        </td>
        <td>-</td>
        <td>Once per game, you may make your opponent discard his or her hand. Then your opponent draws as many cards as he or she discarded in this way</td>
    </tr>
    <tr>
        <td>13</td>
        <td>Gryffindor Match</td>
        <td><span class="icon icon--r-p">premium</span> Match </td>
        <td>1 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>To Win: Do 12 damage to your opponent while this card is in play. (That damage doesn't have to be done all at once.) Prize: The winner gets 2 more actions during his or her next turn.</td>
    </tr>
    <tr>
        <td>13</td>
        <td>Gryffindor Match</td>
        <td><span class="icon icon--r-r">rare</span> Match </td>
        <td>1 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>To Win: Do 12 damage to your opponent while this card is in play. (That damage doesn't have to be done all at once.) Prize: The winner gets 2 more actions during his or her next turn.</td>
    </tr>
    <tr>
        <td>14</td>
        <td>Hagrid, Keeper of Keys</td>
        <td><span class="icon icon--r-p">premium</span> Character, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>You may use an action to search your deck. You may take a location card from your deck, show it to your opponent and put it into your hand. Then shuffle your deck.</td>
    </tr>
    <tr>
        <td>14</td>
        <td>Hagrid, Keeper of Keys</td>
        <td><span class="icon icon--r-r">rare</span> Character, <span class="bold">Unique</span>
        </td>
        <td>-</td>
        <td>You may use an action to search your deck. You may take a location card from your deck, show it to your opponent and put it into your hand. Then shuffle your deck.</td>
    </tr>
    <tr>
        <td>15</td>
        <td>Hagrid's Umbrella</td>
        <td><span class="icon icon--r-p">premium</span> Item, Wand, <span class="bold">Unique</span>
        </td>
        <td>3 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Provides: <span class="icon icon--l-ch">charms</span> / You may use an action and discard this card from play to search your deck. You make take a location card from your deck, show it to your opponent and put it into your hand. Then shuffle your deck. If you play this card, and you already have a Wand in play, discard the old one.</td>
    </tr>
    <tr>
        <td>15</td>
        <td>Hagrid's Umbrella</td>
        <td><span class="icon icon--r-r">rare</span> Item, Wand, <span class="bold">Unique</span>
        </td>
        <td>3 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Provides: <span class="icon icon--l-ch">charms</span> / You may use an action and discard this card from play to search your deck. You make take a location card from your deck, show it to your opponent and put it into your hand. Then shuffle your deck. If you play this card, and you already have a Wand in play, discard the old one.</td>
    </tr>
    <tr>
        <td>16</td>
        <td>Hebridean Black Dragon</td>
        <td><span class="icon icon--r-p">premium</span> Creature, Dragon </td>
        <td>8 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>To play this card, discard 1 of your <span class="icon icon--l-c">care of magical creatures</span> Lessons from play. Damage: 7; Health: 5</td>
    </tr>
    <tr>
        <td>16</td>
        <td>Hebridean Black Dragon</td>
        <td><span class="icon icon--r-r">rare</span> Creature, Dragon </td>
        <td>8 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>To play this card, discard 1 of your <span class="icon icon--l-c">care of magical creatures</span> Lessons from play. Damage: 7; Health: 5</td>
    </tr>
    <tr>
        <td>17</td>
        <td>Hedwig</td>
        <td><span class="icon icon--r-p">premium</span> Creature, Owl Gryffindor, <span class="bold">Unique</span>
        </td>
        <td>6 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>When you play this card, you may put a non-Healing card from your discard pile into your hand. Damage: 1; Health: 2</td>
    </tr>
    <tr>
        <td>17</td>
        <td>Hedwig</td>
        <td><span class="icon icon--r-r">rare</span> Creature, Owl Gryffindor, <span class="bold">Unique</span>
        </td>
        <td>6 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>When you play this card, you may put a non-Healing card from your discard pile into your hand. Damage: 1; Health: 2</td>
    </tr>
    <tr>
        <td>18</td>
        <td>Hermione, Top Student</td>
        <td><span class="icon icon--r-p">premium</span> Character Witch/Gryffindor, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>Once per game, you may search your deck. You may take up to 2 lesson cards from your deck, show them to your opponent and put them into your hand. Then shuffle your deck</td>
    </tr>
    <tr>
        <td>18</td>
        <td>Hermione, Top Student</td>
        <td><span class="icon icon--r-r">rare</span> Character Witch/Gryffindor, <span class="bold">Unique</span>
        </td>
        <td>-</td>
        <td>Once per game, you may search your deck. You may take up to 2 lesson cards from your deck, show them to your opponent and put them into your hand. Then shuffle your deck</td>
    </tr>
    <tr>
        <td>19</td>
        <td>Lee Jordan</td>
        <td><span class="icon icon--r-p">premium</span> Character Wizard/Gryffindor, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>You may use an action to reveal the top 3 cards of your deck. Put all of those cards that need <span class="icon icon--l-q">quidditch</span> Power into your hand. Put the rest on the bottom of your deck (in any order)</td>
    </tr>
    <tr>
        <td>19</td>
        <td>Lee Jordan</td>
        <td><span class="icon icon--r-r">rare</span> Character Wizard/Gryffindor, <span class="bold">Unique</span>
        </td>
        <td>-</td>
        <td>You may use an action to reveal the top 3 cards of your deck. Put all of those cards that need <span class="icon icon--l-q">quidditch</span> Power into your hand. Put the rest on the bottom of your deck (in any order)</td>
    </tr>
    <tr>
        <td>20</td>
        <td>Letters From No One</td>
        <td><span class="icon icon--r-p">premium</span> Adventure </td>
        <td>-</td>
        <td>Effect: Your opponent may only use actions to draw cards. To Solve: Your opponent discards 5 cards from his or her hand. Opponent's Reward: Your opponent may draw two cards.</td>
    </tr>
    <tr>
        <td>20</td>
        <td>Letters From No One</td>
        <td><span class="icon icon--r-r">rare</span> Adventure </td>
        <td>-</td>
        <td>Effect: Your opponent may only use actions to draw cards. To Solve: Your opponent discards 5 cards from his or her hand. Opponent's Reward: Your opponent may draw two cards.</td>
    </tr>
    <tr>
        <td>21</td>
        <td>Madam Irma Pince</td>
        <td><span class="icon icon--r-p">premium</span> Character Witch, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>You may use an action to put a book card from your discard pile into your hand. (Lesson cards aren't books.)</td>
    </tr>
    <tr>
        <td>21</td>
        <td>Madam Irma Pince</td>
        <td><span class="icon icon--r-r">rare</span> Character Witch, <span class="bold">Unique</span>
        </td>
        <td>-</td>
        <td>You may use an action to put a book card from your discard pile into your hand. (Lesson cards aren't books.)</td>
    </tr>
    <tr>
        <td>22</td>
        <td>Professor Quirinus Quirrell</td>
        <td><span class="icon icon--r-p">premium</span> Character Wizard, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>Once per game, you may return all Creatures and Items to their owners' hands.</td>
    </tr>
    <tr>
        <td>22</td>
        <td>Professor Quirinus Quirrell</td>
        <td><span class="icon icon--r-r">rare</span> Character Wizard, <span class="bold">Unique</span>
        </td>
        <td>-</td>
        <td>Once per game, you may return all Creatures and Items to their owners' hands.</td>
    </tr>
    <tr>
        <td>23</td>
        <td>Self-Stirring Cauldron</td>
        <td><span class="icon icon--r-p">premium</span> Item, Cauldron </td>
        <td>4 <span class="icon icon--l-p">potions</span>
        </td>
        <td>Provides: <span class="icon icon--l-p">potions</span><span class="icon icon--l-p">potions</span><span class="icon icon--l-p">potions</span><span class="icon icon--l-p">potions</span> / To play this card, discard 2 of your <span class="icon icon--l-p">potions</span> Lessons from play. You get 1 more action the turn you play this card.</td>
    </tr>
    <tr>
        <td>23</td>
        <td>Self-Stirring Cauldron</td>
        <td><span class="icon icon--r-r">rare</span> Item, Cauldron </td>
        <td>4 <span class="icon icon--l-p">potions</span>
        </td>
        <td>Provides: <span class="icon icon--l-p">potions</span><span class="icon icon--l-p">potions</span><span class="icon icon--l-p">potions</span><span class="icon icon--l-p">potions</span> / To play this card, discard 2 of your <span class="icon icon--l-p">potions</span> Lessons from play. You get 1 more action the turn you play this card.</td>
    </tr>
    <tr>
        <td>24</td>
        <td>Silver Unicorn Horn</td>
        <td><span class="icon icon--r-p">premium</span> Item, Healing </td>
        <td>6 <span class="icon icon--l-p">potions</span>
        </td>
        <td>When you play this card, put up to 2 non-Healing cards from your discard pile on the bottom of your deck (in any order). You may use an Action and discard this card from play to shuffle up to 6 non-Healing cards from your discard pile into your deck.</td>
    </tr>
    <tr>
        <td>24</td>
        <td>Silver Unicorn Horn</td>
        <td><span class="icon icon--r-r">rare</span> Item, Healing </td>
        <td>6 <span class="icon icon--l-p">potions</span>
        </td>
        <td>When you play this card, put up to 2 non-Healing cards from your discard pile on the bottom of your deck (in any order). You may use an Action and discard this card from play to shuffle up to 6 non-Healing cards from your discard pile into your deck.</td>
    </tr>
    <tr>
        <td>25</td>
        <td>Table Trouble</td>
        <td><span class="icon icon--r-p">premium</span> Spell </td>
        <td>5 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Discard all items from play (yours and your opponent's).</td>
    </tr>
    <tr>
        <td>25</td>
        <td>Table Trouble</td>
        <td><span class="icon icon--r-r">rare</span> Spell </td>
        <td>5 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Discard all items from play (yours and your opponent's).</td>
    </tr>
    <tr>
        <td>26</td>
        <td>The Famous Harry Potter</td>
        <td><span class="icon icon--r-p">premium</span> Character Wizard/Gryffindor, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>Before each of your turns, if there are 4 or fewer cards in your hand, you may draw a card.</td>
    </tr>
    <tr>
        <td>26</td>
        <td>The Famous Harry Potter</td>
        <td><span class="icon icon--r-r">rare</span> Character Wizard/Gryffindor, <span class="bold">Unique</span>
        </td>
        <td>-</td>
        <td>Before each of your turns, if there are 4 or fewer cards in your hand, you may draw a card.</td>
    </tr>
    <tr>
        <td>27</td>
        <td>The Leaky Cauldron</td>
        <td><span class="icon icon--r-p">premium</span> Location, <span class="bold">Unique</span>
        </td>
        <td>2 <span class="icon icon--l-p">potions</span>
        </td>
        <td>When you play this card, discard any other location from play (yours or your opponent's). Whenever either player plays a character card, he or she uses up 1 action to play it instead of 2.</td>
    </tr>
    <tr>
        <td>27</td>
        <td>The Leaky Cauldron</td>
        <td><span class="icon icon--r-r">rare</span> Location, <span class="bold">Unique</span>
        </td>
        <td>2 <span class="icon icon--l-p">potions</span>
        </td>
        <td>When you play this card, discard any other location from play (yours or your opponent's). Whenever either player plays a character card, he or she uses up 1 action to play it instead of 2.</td>
    </tr>
    <tr>
        <td>28</td>
        <td>Three-Month-Long Match</td>
        <td><span class="icon icon--r-p">premium</span> Match </td>
        <td>1 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>To Win: Do 30 damage to your opponent while this card is in play. (That damage doesn't have to be done all at once.) Prize: The winner does 15 damage to his or her opponent.</td>
    </tr>
    <tr>
        <td>28</td>
        <td>Three-Month-Long Match</td>
        <td><span class="icon icon--r-r">rare</span> Match </td>
        <td>1 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>To Win: Do 30 damage to your opponent while this card is in play. (That damage doesn't have to be done all at once.) Prize: The winner does 15 damage to his or her opponent.</td>
    </tr>
    <tr>
        <td>29</td>
        <td>Through the Arch</td>
        <td><span class="icon icon--r-p">premium</span> Adventure </td>
        <td>-</td>
        <td>Effect: Your opponent can't play spell cards. To Solve: Your opponent skips a total of 4 actions. (Those action don't need to be one right after the other.) Opponent's Reward: Your opponent may put an item card from his or her discard pile into his or her hand.</td>
    </tr>
    <tr>
        <td>29</td>
        <td>Through the Arch</td>
        <td><span class="icon icon--r-r">rare</span> Adventure </td>
        <td>-</td>
        <td>Effect: Your opponent can't play spell cards. To Solve: Your opponent skips a total of 4 actions. (Those action don't need to be one right after the other.) Opponent's Reward: Your opponent may put an item card from his or her discard pile into his or her hand.</td>
    </tr>
    <tr>
        <td>30</td>
        <td>Vanishing Referee</td>
        <td><span class="icon icon--r-p">premium</span> Spell </td>
        <td>4 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Choose a non-Healing character in play (other than a starting character) and shuffle it into its owner's deck.</td>
    </tr>
    <tr>
        <td>30</td>
        <td>Vanishing Referee</td>
        <td><span class="icon icon--r-r">rare</span> Spell </td>
        <td>4 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Choose a non-Healing character in play (other than a starting character) and shuffle it into its owner's deck.</td>
    </tr>
    <tr>
        <td>31</td>
        <td>Alihotsy Draught</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>7 <span class="icon icon--l-p">potions</span>
        </td>
        <td>Do 6 damage to your opponent or choose 1 of his or her items in play and discard it.</td>
    </tr>
    <tr>
        <td>32</td>
        <td>Barn Owl</td>
        <td><span class="icon icon--r-u">uncommon</span> Creature, Owl </td>
        <td>3 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>When you play this card, you may discard 1 of your <span class="icon icon--l-c">care of magical creatures</span> Lessons from play to put a creature card from your discard pile into your hand. Damage: 1; Health: 1</td>
    </tr>
    <tr>
        <td>33</td>
        <td>Beetle Eyes</td>
        <td><span class="icon icon--r-u">uncommon</span> Item </td>
        <td>5 <span class="icon icon--l-p">potions</span>
        </td>
        <td>When you play this card, do 4 damage to your opponent. You may use an action to discard this and Eel Eyes from play to search your deck. You may take a Bulgeye Potion card from your deck and put it into play. Then shuffle your deck.</td>
    </tr>
    <tr>
        <td>34</td>
        <td>Biased Commentary</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>3 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>The next time this turn you play a spell card that needs <span class="icon icon--l-q">quidditch</span> Power, if that card does damage to your opponent, it does 5 more damage.</td>
    </tr>
    <tr>
        <td>35</td>
        <td>Bluebottle Broom</td>
        <td><span class="icon icon--r-u">uncommon</span> Item, Broom/ Healing </td>
        <td>4 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Provides: <span class="icon icon--l-q">quidditch</span> / You may use an action to put a non-Healing card from your discard pile on the bottom of your deck. If you play this card, and you already have a broom in play, discard the old one.</td>
    </tr>
    <tr>
        <td>36</td>
        <td>Cauldron Shop</td>
        <td><span class="icon icon--r-u">uncommon</span> Location </td>
        <td>3 <span class="icon icon--l-p">potions</span>
        </td>
        <td>When you play this card, discard any other location from play (yours or your opponent's). Either player may use an action to search his or her deck. That player may take an item card from his or her deck that needs <span class="icon icon--l-p">potions</span> Power, show it to his or her opponent and put it into his or her hand. Then the player shuffles his or her deck.</td>
    </tr>
    <tr>
        <td>37</td>
        <td>Colloshoo</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>3 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Look at your opponent's hand. If there are any item cards there, choose 1 of them and discard it.</td>
    </tr>
    <tr>
        <td>38</td>
        <td>Eel Eyes</td>
        <td><span class="icon icon--r-u">uncommon</span> Item </td>
        <td>1 <span class="icon icon--l-p">potions</span>
        </td>
        <td>When you play this card, look at your opponent's hand. You may use an action to discard this and Beetle Eyes from play to search your deck. You may take a Bulgeye Potion card from your deck and put it into play. Then shuffle your deck.</td>
    </tr>
    <tr>
        <td>39</td>
        <td>Frog-Spawn</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>2 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>During your opponent's next turn, prevent all damage done to your creatures.</td>
    </tr>
    <tr>
        <td>40</td>
        <td>Injured</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>5 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Look at your opponent's hand. Discard all cards from it that need <span class="icon icon--l-q">quidditch</span> Power.</td>
    </tr>
    <tr>
        <td>41</td>
        <td>Lapifors</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>7 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Choose 1 of your opponent's creatures in play and discard it. Then search your deck. You may take a creature card from your deck, show it to your opponent and put it into your hand. Then shuffle your deck.</td>
    </tr>
    <tr>
        <td>42</td>
        <td>Madam Malkin's Robes</td>
        <td><span class="icon icon--r-u">uncommon</span> Location, <span class="bold">Unique</span>
        </td>
        <td>4 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>When you play this card, discard any other Location from play (yours or your opponent's). Whenever a card (yours or your opponent's) does damage, it does 1 less damage</td>
    </tr>
    <tr>
        <td>43</td>
        <td>Porcupine Robe</td>
        <td><span class="icon icon--r-u">uncommon</span> Item </td>
        <td>7 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>At the end of each of your opponent's turns, do 1 damage to each creature that did damage to you that turn.</td>
    </tr>
    <tr>
        <td>44</td>
        <td>Practical Joke</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>3 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Count the number of items in play (yours and your opponent's). Do that much damage to your opponent.</td>
    </tr>
    <tr>
        <td>45</td>
        <td>Quality Quidditch Supplies</td>
        <td><span class="icon icon--r-u">uncommon</span> Location, <span class="bold">Unique</span>
        </td>
        <td>3 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>When you play this card, discard any other location from play (yours or your opponent's). Either player may use an action to search his or her deck. That player may take an item card from his or her deck that needs <span class="icon icon--l-q">quidditch</span> Power, show it to his or her opponent and put it into his or her hand. Then the player shuffles his or her deck.</td>
    </tr>
    <tr>
        <td>46</td>
        <td>Quintaped</td>
        <td><span class="icon icon--r-u">uncommon</span> Creature, Quintaped </td>
        <td>5 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>Damage: 2; Health: 5</td>
    </tr>
    <tr>
        <td>47</td>
        <td>Spiral Dive</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>5 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Discard any number of cards from your hand. Do that much damage to your opponent</td>
    </tr>
    <tr>
        <td>48</td>
        <td>Verdillious</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>9 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Do 5 damage to your opponent or to a creature of your choice.</td>
    </tr>
    <tr>
        <td>49</td>
        <td>Wand Shop</td>
        <td><span class="icon icon--r-u">uncommon</span> Location </td>
        <td>4 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>When you play this card, discard any other location from play (yours or your opponent's). All <span class="icon icon--l-ch">charms</span> Lessons (yours and your opponent's) provide <span class="icon icon--l-ch">charms</span><span class="icon icon--l-ch">charms</span> instead of <span class="icon icon--l-ch">charms</span>.</td>
    </tr>
    <tr>
        <td>50</td>
        <td>Wild Boar</td>
        <td><span class="icon icon--r-u">uncommon</span> Creature, Boar </td>
        <td>2 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>To play this card, discard 2 of your <span class="icon icon--l-c">care of magical creatures</span> Lessons from play. Damage: 3; Health: 5</td>
    </tr>
    <tr>
        <td>51</td>
        <td>A Beginner's Guide to Transfiguration</td>
        <td><span class="icon icon--r-c">common</span> Item, Book </td>
        <td>2 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Provides: <span class="icon icon--l-t">transfiguration</span> / You may use an action and discard this card from play to draw 3 cards.</td>
    </tr>
    <tr>
        <td>52</td>
        <td>Bludger in the Stands</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>6 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Do 4 damage to your opponent. Then, if your opponent has any items in play, he or she chooses 1 of them and discards it.</td>
    </tr>
    <tr>
        <td>53</td>
        <td>Blue Wig</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>6 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Do 4 damage to your opponent. Then draw a card.</td>
    </tr>
    <tr>
        <td>54</td>
        <td>Butterfly Weed Balm</td>
        <td><span class="icon icon--r-c">common</span> Spell, Healing </td>
        <td>5 <span class="icon icon--l-p">potions</span>
        </td>
        <td>To play this card, discard 1 of your <span class="icon icon--l-p">potions</span> Lessons from play. Shuffle up to 9 non-Healing cards from your discard pile into your deck.</td>
    </tr>
    <tr>
        <td>55</td>
        <td>Cancelled Practice</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>2 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Choose 1 of your opponent's <span class="icon icon--l-q">quidditch</span> Lessons in play and discard it.</td>
    </tr>
    <tr>
        <td>56</td>
        <td>Dogbane Potion</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>5 <span class="icon icon--l-p">potions</span>
        </td>
        <td>Choose 1 of your opponent's creatures in play and do 3 damage to it.</td>
    </tr>
    <tr>
        <td>57</td>
        <td>Dog Biscuits</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>1 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>Remove all damage counters (if any) from 1 of your creatures in play. Then draw a card.</td>
    </tr>
    <tr>
        <td>58</td>
        <td>Fantastic Beasts & Where to Find Them</td>
        <td><span class="icon icon--r-c">common</span> Item, Book </td>
        <td>2 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>Provides: <span class="icon icon--l-c">care of magical creatures</span> / You may use an action and discard this card from play to draw 3 cards.</td>
    </tr>
    <tr>
        <td>59</td>
        <td>Flipendo</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>2 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Do 2 damage to your opponent or to a creature of your choice.</td>
    </tr>
    <tr>
        <td>60</td>
        <td>Freeze!</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>3 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Choose 1 of your opponent's creatures in play and do 4 damage to it.</td>
    </tr>
    <tr>
        <td>61</td>
        <td>Magical Drafts and Potions</td>
        <td><span class="icon icon--r-c">common</span> Item, Book </td>
        <td>2 <span class="icon icon--l-p">potions</span>
        </td>
        <td>Provides: <span class="icon icon--l-p">potions</span> / You may use an action and discard this card from play to draw 3 cards.</td>
    </tr>
    <tr>
        <td>62</td>
        <td>Mid-air Collision</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>10 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Do 10 damage to your opponent. Then choose 1 of your cards in play (other than your starting character) and discard it.</td>
    </tr>
    <tr>
        <td>63</td>
        <td>Moonseed Poison</td>
        <td><span class="icon icon--r-c">common</span> Item </td>
        <td>8 <span class="icon icon--l-p">potions</span>
        </td>
        <td>When you play this card, do 3 damage to your opponent. You may use an action and discard this card from play to do 6 damage to your opponent.</td>
    </tr>
    <tr>
        <td>64</td>
        <td>Picking on Neville</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>4 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Choose 1 of your opponent's cards in play (other than his or her starting character) and discard it. Your opponent may prevent this by choosing 2 of his or her cards in play (other than his or her starting character) and discarding them.</td>
    </tr>
    <tr>
        <td>65</td>
        <td>Pigley Dudley</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>5 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Choose 1 of your opponent's creatures or characters in play (other than his or her starting character) and put it on top of his or her deck.</td>
    </tr>
    <tr>
        <td>66</td>
        <td>Quick Thinking</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>6 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Do 3 damage to your opponent or draw 3 cards.</td>
    </tr>
    <tr>
        <td>67</td>
        <td>Quidditch Through the Ages</td>
        <td><span class="icon icon--r-c">common</span> Item, Book </td>
        <td>2 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>Provides: <span class="icon icon--l-q">quidditch</span> / You may use an action and discard this card from play to draw 3 cards.</td>
    </tr>
    <tr>
        <td>68</td>
        <td>River Troll</td>
        <td><span class="icon icon--r-c">common</span> Creature, Troll </td>
        <td>5 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>To play this card, discard 1 of your <span class="icon icon--l-c">care of magical creatures</span> Lessons from play. Damage: 4; Health: 3</td>
    </tr>
    <tr>
        <td>69</td>
        <td>Screech Owl</td>
        <td><span class="icon icon--r-c">common</span> Creature, Owl </td>
        <td>3 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>When you play this card, you may put a lesson card from your discard pile into your hand. Damage: 1; Health: 1</td>
    </tr>
    <tr>
        <td>70</td>
        <td>Sloth Grip</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>5 <span class="icon icon--l-q">quidditch</span>
        </td>
        <td>During your opponent's next turn, you may prevent all but the first 3 damage done to you.</td>
    </tr>
    <tr>
        <td>71</td>
        <td>Spongify</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>2 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Choose a non-Healing item in play and return it to its owner's hand. Then draw a card.</td>
    </tr>
    <tr>
        <td>72</td>
        <td>Swelling Potion</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>7 <span class="icon icon--l-p">potions</span>
        </td>
        <td>Do 5 damage to your opponent. During your opponent's next turn, he or she can't use actions to play item cards.</td>
    </tr>
    <tr>
        <td>73</td>
        <td>Tawny Owl</td>
        <td><span class="icon icon--r-c">common</span> Creature, Owl </td>
        <td>3 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>When you play this card, you may put a non-Healing item card from your discard pile into your hand. Damage: 1; Health: 1</td>
    </tr>
    <tr>
        <td>74</td>
        <td>Teacup to Rat</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>3 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Choose 1 of your opponent's items in play and discard it. Then draw a card.</td>
    </tr>
    <tr>
        <td>75</td>
        <td>The Standard Book of Spells (Grade 1)</td>
        <td><span class="icon icon--r-c">common</span> Item, Book </td>
        <td>2 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Provides: <span class="icon icon--l-ch">charms</span> / You may use an action and discard this card from play to draw 3 cards.</td>
    </tr>
    <tr>
        <td>76</td>
        <td>Care of Magical Creatures</td>
        <td>Lesson</td>
        <td>-</td>
        <td>Provides <span class="icon icon--l-c">care of magical creatures</span>
        </td>
    </tr>
    <tr>
        <td>77</td>
        <td>Charms</td>
        <td>Lesson</td>
        <td>-</td>
        <td>Provides <span class="icon icon--l-ch">charms</span>
        </td>
    </tr>
    <tr>
        <td>78</td>
        <td>Potions</td>
        <td>Lesson</td>
        <td>-</td>
        <td>Provides <span class="icon icon--l-p">potions</span>
        </td>
    </tr>
    <tr>
        <td>79</td>
        <td>Quidditch</td>
        <td>Lesson</td>
        <td>-</td>
        <td>Provides <span class="icon icon--l-q">quidditch</span>
        </td>
    </tr>
    <tr>
        <td>80</td>
        <td>Transfiguration</td>
        <td>Lesson</td>
        <td>-</td>
        <td>Provides: <span class="icon icon--l-t">transfiguration</span>
        </td>
    </tr>
    </tbody>
</table>