<% content_for :title do %>
    Base set card list
<% end %>
<h2 class="header header--main">Card list</h2>
<p class="text--right">
    <a href="/cardlist">Back to list</a>
</p>
<h3 class="header">Base set</h3>
<table class="text--smaller table--cardlist">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Price</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Dean Thomas</td>
        <td><span class="icon icon--r-p">premium</span> Character Wizard/Gryffindor, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>Once per game, you may draw 3 cards.</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Draco Malfoy</td>
        <td><span class="icon icon--r-p">premium</span> Character Wizard/Slytherin, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>During your turn, you may use an action and discard a card from your hand to look at your opponent's hand. You may then choose one card in his or her hand and discard it.</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Draco Malfoy</td>
        <td><span class="icon icon--r-p">premium</span> Character Wizard/Slytherin, <span class="bold">Unique</span>
        </td>
        <td>-</td>
        <td>During your turn, you may use an action and discard a card from your hand to look at your opponent's hand. You may then choose one card in his or her hand and discard it.</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Dragon's Escape</td>
        <td><span class="icon icon--r-p">premium</span> Adventure </td>
        <td>-</td>
        <td>Effect: Before each of your turns, your opponent takes 1 damage. To Solve: Your opponent chooses 3 of his or her Lessons in play and discard them. Opponent's Reward: Your opponent draws 3 cards or does 3 damage to you.</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Elixir of Life</td>
        <td><span class="icon icon--r-p">premium</span> Spell, Healing </td>
        <td>10 <span class="icon icon--l-p">potions</span>
        </td>
        <td>To play this card, discard 2 of your <span class="icon icon--l-p">potions</span> Lessons from play. Shuffle up to 16 Non-Healing cards from your discard pile into your deck.</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Gringotts' Cart Ride</td>
        <td><span class="icon icon--r-p">premium</span> Adventure </td>
        <td>-</td>
        <td>Effect: Before each of your opponent's turns, he or she chooses a card in his or her hand (if any) and discards it. To Solve: Your opponent skips a total of 5 Actions. (Those Actions don't have to be one right after the other.) Opponent's Reward: Your opponent may draw 5 cards.</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Hannah Abbott</td>
        <td><span class="icon icon--r-p">premium</span> Character Witch/Hufflepuff, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>Once per game, you may trade 2 cards in your hand for 2 non-Healing cards in your discard pile.</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Harry Potter</td>
        <td><span class="icon icon--r-p">premium</span> Character Wizard/Gryffindor, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>Whenever you use an Action to draw a card, you may draw 2 cards instead of 1.</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Hermione Granger</td>
        <td><span class="icon icon--r-p">premium</span> Character Witch/Gryffindor, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>If you already have 2 or more lessons in play, then whenever you use an action to play a lesson card, you may play 2 lesson cards instead of one.</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Hermione Granger</td>
        <td><span class="icon icon--r-p">premium</span> Character Witch/Gryffindor, <span class="bold">Unique</span>
        </td>
        <td>-</td>
        <td>If you already have 2 or more lessons in play, then whenever you use an action to play a lesson card, you may play 2 lesson cards instead of one.</td>
    </tr>
    <tr>
        <td>11</td>
        <td>Human Chess Game</td>
        <td><span class="icon icon--r-p">premium</span> Adventure </td>
        <td>-</td>
        <td>Effect: During each of your opponent's turns, he or she can play cards only if you played 1 or more cards on your previous turn. To Solve: Your opponent chooses and discards 1 of his or her Characters in play (other than his or her starting character) or 8 cards from their hand. Opponent's Reward: Your opponent may draw 3 cards.</td>
    </tr>
    <tr>
        <td>12</td>
        <td>Invisibility Cloak</td>
        <td><span class="icon icon--r-p">premium</span> Item Gryffindor, <span class="bold">Unique</span>
        </td>
        <td>13 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Once during each of your opponent's turns, you may prevent all damage done by a spell card.</td>
    </tr>
    <tr>
        <td>13</td>
        <td>Nearly Headless Nick</td>
        <td><span class="icon icon--r-p">premium</span> Character Gryffindor, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>Once per game, you may search your deck. When you do, you may take up to 2 Item cards from your deck, show them to your opponent, and put them into your hand. Then shuffle your deck.</td>
    </tr>
    <tr>
        <td>14</td>
        <td>Obliviate</td>
        <td><span class="icon icon--r-p">premium</span> Spell </td>
        <td>12 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Your opponent discards his or her hand.</td>
    </tr>
    <tr>
        <td>15</td>
        <td>Professor Filius Flitwick</td>
        <td><span class="icon icon--r-p">premium</span> Character Wizard/Ravenclaw, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>Provides 1<span class="icon icon--l-ch">charms</span> / Once per game, you may trade 2 cards in your hand for 1 card in your discard pile that needs C power.</td>
    </tr>
    <tr>
        <td>16</td>
        <td>Professor Severus Snape</td>
        <td><span class="icon icon--r-p">premium</span> Character, Healing Wizard/Slytherin, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>Provides 1<span class="icon icon--l-p">potions</span> / Once per game, you may shuffle up to 7 non-Healing cards from your discard pile into your deck.</td>
    </tr>
    <tr>
        <td>17</td>
        <td>Ron Weasley</td>
        <td><span class="icon icon--r-p">premium</span> Character Wizard/Gryffindor, <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>Whenever you play a Character card, you use up 1 Action to play it instead of 2.</td>
    </tr>
    <tr>
        <td>18</td>
        <td>Rubeus Hagrid</td>
        <td><span class="icon icon--r-p">premium</span> Character , <span class="bold">Unique</span>, Holo</td>
        <td>-</td>
        <td>Whenever 1 of your creatures does 3 or more damage to your opponent, it does 2 more damage than it usually would.</td>
    </tr>
    <tr>
        <td>19</td>
        <td>Troll in the Bathroom</td>
        <td><span class="icon icon--r-p">premium</span> Adventure </td>
        <td>-</td>
        <td>Effect: Before each of your turns, your opponent takes 2 damage. To Solve: Your opponent chooses 7 cards in his or her hand and discards them. Opponent's Reward: You take 4 damage.</td>
    </tr>
    <tr>
        <td>20</td>
        <td>Unicorn</td>
        <td><span class="icon icon--r-p">premium</span> Creature </td>
        <td>6 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>To play this card, discard 1 of your <span class="icon icon--l-c">care of magical creatures</span> Lessons from play. You get 1 more Action on each of your turns (including the turn you play Unicorn).</td>
    </tr>
    <tr>
        <td>21</td>
        <td>Delivery Owl</td>
        <td><span class="icon icon--r-r">rare</span> Creature </td>
        <td>2 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>To play this card, discard 1 of your <span class="icon icon--l-c">care of magical creatures</span> L essons from play. Before each of your turns, draw a card.</td>
    </tr>
    <tr>
        <td>22</td>
        <td>Draught of Living Death</td>
        <td><span class="icon icon--r-r">rare</span> Spell </td>
        <td>8 <span class="icon icon--l-p">potions</span>
        </td>
        <td>To play this card, discard 2 of your <span class="icon icon--l-p">potions</span> Lessons from play. Do 12 damage to your opponent or to a creature of your choice.</td>
    </tr>
    <tr>
        <td>23</td>
        <td>Harry Hunting</td>
        <td><span class="icon icon--r-r">rare</span> Adventure </td>
        <td>-</td>
        <td>Effect: Your opponent's Creature and Spell cards need 2 more Power to play. To Solve: Your opponent chooses 7 cards in his or her hand and discards them. Opponent's Reward: Your opponent may put a lesson card from his or her discard pile into play.</td>
    </tr>
    <tr>
        <td>24</td>
        <td>History of Magic</td>
        <td><span class="icon icon--r-r">rare</span> Spell </td>
        <td>2 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Look at your opponent's hand. Discard all Adventure cards from it.</td>
    </tr>
    <tr>
        <td>25</td>
        <td>Incendio</td>
        <td><span class="icon icon--r-r">rare</span> Spell </td>
        <td>3 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Count the number of <span class="icon icon--l-ch">charms</span> Lessons you have in play, Do that much damage to a creature of your choice.</td>
    </tr>
    <tr>
        <td>26</td>
        <td>Malevolent Mixture</td>
        <td><span class="icon icon--r-r">rare</span> Spell </td>
        <td>5 <span class="icon icon--l-p">potions</span>
        </td>
        <td>To play this card, discard 2 of your <span class="icon icon--l-p">potions</span> Lessons from play. Do 10 damage to your opponent or to a Creature of your choice.</td>
    </tr>
    <tr>
        <td>27</td>
        <td>Meet the Centaurs</td>
        <td><span class="icon icon--r-r">rare</span> Adventure </td>
        <td>-</td>
        <td>Effect: Your opponent plays with his or her hand face up. To Solve: Your opponent discards his or her hand. (Your opponent may do this even if his or her hand is empty.) Opponent's Reward: You play with your hand face up for the rest of the game.</td>
    </tr>
    <tr>
        <td>28</td>
        <td>Mountain Troll</td>
        <td><span class="icon icon--r-r">rare</span> Creature </td>
        <td>8 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>29</td>
        <td>Mrs. Norris</td>
        <td><span class="icon icon--r-r">rare</span> Creature , <span class="bold">Unique</span>
        </td>
        <td>2 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>Your opponent plays with his or her hand face up.</td>
    </tr>
    <tr>
        <td>30</td>
        <td>Norbert</td>
        <td><span class="icon icon--r-r">rare</span> Creature , <span class="bold">Unique</span>
        </td>
        <td>4 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>To play this card, discard 2 of your <span class="icon icon--l-c">care of magical creatures</span> Lessons from play.</td>
    </tr>
    <tr>
        <td>31</td>
        <td>Phoenix Feather Wand</td>
        <td><span class="icon icon--r-r">rare</span> Item, Wand </td>
        <td>7 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Provides: <span class="icon icon--l-ch">charms</span><span class="icon icon--l-ch">charms</span><span class="icon icon--l-ch">charms</span><span class="icon icon--l-ch">charms</span> / Play this card only is you have cards in play that provide at least <span class="icon icon--l-ch">charms</span><span class="icon icon--l-ch">charms</span><span class="icon icon--l-ch">charms</span> Power. If you play this card, and you already have a Wand in play, discard the old one.</td>
    </tr>
    <tr>
        <td>32</td>
        <td>Platform 9 3/4</td>
        <td><span class="icon icon--r-r">rare</span> Spell </td>
        <td>5 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>To play this card, discard 1 of your lessons from play. You get 2 more Actions this turn.</td>
    </tr>
    <tr>
        <td>33</td>
        <td>Potion Ingredients</td>
        <td><span class="icon icon--r-r">rare</span> Item </td>
        <td>5 <span class="icon icon--l-p">potions</span>
        </td>
        <td>When a Spell card damages you, you may discard this card from play to prevent all of that damage.</td>
    </tr>
    <tr>
        <td>34</td>
        <td>Raven to Writing Desk</td>
        <td><span class="icon icon--r-r">rare</span> Spell </td>
        <td>1 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>If your opponent has 2 or more Creatures in play, choose 1 of them and discard it.</td>
    </tr>
    <tr>
        <td>35</td>
        <td>Shrinking Potion</td>
        <td><span class="icon icon--r-r">rare</span> Spell </td>
        <td>8 <span class="icon icon--l-p">potions</span>
        </td>
        <td>During your opponent's next turn, prevent all damage done to you.</td>
    </tr>
    <tr>
        <td>36</td>
        <td>Titillando</td>
        <td><span class="icon icon--r-r">rare</span> Spell </td>
        <td>9 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Do 3 damage to your opponent or to a Creature of your choice. Then your opponent chooses 3 cards in his or her hand and discards them. (If there are fewer than 3 cards in your opponent's hand, he or she discards them all.)</td>
    </tr>
    <tr>
        <td>37</td>
        <td>Transfiguration Exam</td>
        <td><span class="icon icon--r-r">rare</span> Spell </td>
        <td>10 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Discard all creatures from play (even your own).</td>
    </tr>
    <tr>
        <td>38</td>
        <td>Transfiguration Test</td>
        <td><span class="icon icon--r-r">rare</span> Spell </td>
        <td>5 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>If your opponent has 2 or more Creatures in play, he or she chooses 1 of them and discards the rest. Then, if you have 2 or more Creatures in play, choose 1 of them and discard the rest.</td>
    </tr>
    <tr>
        <td>39</td>
        <td>4 Privet Drive</td>
        <td><span class="icon icon--r-u">uncommon</span> Adventure </td>
        <td>-</td>
        <td>Effect: Your opponent can't play Spell cards. To Solve: Your opponent chooses 6 cards in his or her hand and discards them. Opponent's Reward: Your opponent may draw a card.</td>
    </tr>
    <tr>
        <td>40</td>
        <td>Alchemy</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>2 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Search your deck. You may take up to 2 Lesson cards from your deck, show them to your opponent, and put them in your hand. Then shuffle your deck.</td>
    </tr>
    <tr>
        <td>41</td>
        <td>Apothecary</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>5 <span class="icon icon--l-p">potions</span>
        </td>
        <td>To play this card, discard 2 other cards from your hand. You may take a card that needs <span class="icon icon--l-p">potions</span>. Power from your deck, show it to your opponent and put it into your hand. Then shuffle your deck.</td>
    </tr>
    <tr>
        <td>42</td>
        <td>Apparate</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>1 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Discard the Adventure your opponent has played. You don't get the reward.</td>
    </tr>
    <tr>
        <td>43</td>
        <td>Baby Dragon</td>
        <td><span class="icon icon--r-u">uncommon</span> Creature </td>
        <td>3 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>To play this card, discard 1 of your <span class="icon icon--l-c">care of magical creatures</span> Lessons from play.</td>
    </tr>
    <tr>
        <td>44</td>
        <td>Bluebell Flames</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>7 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Do 4 damage to your opponent or to a Creature of your choice.</td>
    </tr>
    <tr>
        <td>45</td>
        <td>Burning Bitterroot Balm</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell, Healing </td>
        <td>6 <span class="icon icon--l-p">potions</span>
        </td>
        <td>To play this card, discard 1 of your <span class="icon icon--l-p">potions</span> Lessons from play. Shuffle up to 10 non-Healing cards from your discard pile into your deck.</td>
    </tr>
    <tr>
        <td>46</td>
        <td>Cage</td>
        <td><span class="icon icon--r-u">uncommon</span> Item </td>
        <td>2 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>Provides <span class="icon icon--l-c">care of magical creatures</span> / During your turn, you may discard this card from play and use an Action to choose a Creature in play (yours or your opponent's) and return it to it's owner's hand.</td>
    </tr>
    <tr>
        <td>47</td>
        <td>Confundus</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>5 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Your opponent chooses 2 cards in his or her hand and discards them (1 if he or she only has 1).</td>
    </tr>
    <tr>
        <td>48</td>
        <td>Diagon Alley</td>
        <td><span class="icon icon--r-u">uncommon</span> Adventure </td>
        <td>-</td>
        <td>Effect: Your opponent can't use Actions to draw cards. To Solve: Your opponent skips a total of 7 Actions. (Those Actions don't need to be one right after the other.) Opponent's Reward: Your opponent may draw any number of cards.</td>
    </tr>
    <tr>
        <td>49</td>
        <td>Dogbreath Potion</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>6 <span class="icon icon--l-p">potions</span>
        </td>
        <td>To play this card, discard 1 of your <span class="icon icon--l-p">potions</span> Lessons from play. Do 8 damage to your opponent or to a Creature of your choice.</td>
    </tr>
    <tr>
        <td>50</td>
        <td>Draco's Trick</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>7 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Discard the Adventure you've played. You get the reward.</td>
    </tr>
    <tr>
        <td>51</td>
        <td>Dragon Heart Wand</td>
        <td><span class="icon icon--r-u">uncommon</span> Item, Wand </td>
        <td>5 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Provides <span class="icon icon--l-ch">charms</span><span class="icon icon--l-ch">charms</span><span class="icon icon--l-ch">charms</span> / Play this card only if you have cards in play that provides at least <span class="icon icon--l-ch">charms</span><span class="icon icon--l-ch">charms</span> Power. If you play this card, and you already have a Wand in play, discard the old one.</td>
    </tr>
    <tr>
        <td>52</td>
        <td>Fumos</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>7 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Do 2 damage to each Creature (even your own).</td>
    </tr>
    <tr>
        <td>53</td>
        <td>Guard Dog</td>
        <td><span class="icon icon--r-u">uncommon</span> Creature </td>
        <td>7 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>54</td>
        <td>Hiding From Snape</td>
        <td><span class="icon icon--r-u">uncommon</span> Adventure </td>
        <td>-</td>
        <td>Effect: Your opponent can't play Item cards. To Solve: Your opponent chooses 4 Item cards in his or her hand and discards them. Opponent's Reward: Your opponent may search his or her deck for any card and put it into his or her hand. Then your opponent shuffles his or her deck.</td>
    </tr>
    <tr>
        <td>55</td>
        <td>Kelpie</td>
        <td><span class="icon icon--r-u">uncommon</span> Creature </td>
        <td>3 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>To play this card, discard 1 of your <span class="icon icon--l-c">care of magical creatures</span> Lessons from play. Whenever a Spell card damages you, you may let Kelpie take that damage instead.</td>
    </tr>
    <tr>
        <td>56</td>
        <td>Logic Puzzle</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>6 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Discard the Adventure your opponent has played. You get the reward.</td>
    </tr>
    <tr>
        <td>57</td>
        <td>Mysterious Egg</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>4 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>Search your deck. You may take a Creature card from your deck, show it to your opponent and put it into your hand. Then shuffle your deck.</td>
    </tr>
    <tr>
        <td>58</td>
        <td>Nurture</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>2 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>Remove all damage counters from all of your Creatures.</td>
    </tr>
    <tr>
        <td>59</td>
        <td>Ollivanders</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>1 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Put an Item card from your discard pile into your hand.</td>
    </tr>
    <tr>
        <td>60</td>
        <td>Peeves Causes Trouble</td>
        <td><span class="icon icon--r-u">uncommon</span> Adventure </td>
        <td>-</td>
        <td>Effect: Whenever your opponent draws 1 or more cards, he or she then takes 1 damage. To Solve: Your opponent skips a total of 5 Actions. (Those Actions don't need to be one right after the other.) Opponent's Reward: You take 3 damage.</td>
    </tr>
    <tr>
        <td>61</td>
        <td>Pet Toad</td>
        <td><span class="icon icon--r-u">uncommon</span> Creature </td>
        <td>2 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>Whenever a Spell card damages you, you may let Pet Toad take that damage instead.</td>
    </tr>
    <tr>
        <td>62</td>
        <td>Pomfrey's Pick-Me-Up</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell, Healing </td>
        <td>3 <span class="icon icon--l-p">potions</span>
        </td>
        <td>Put up to 3 non-Healing cards from your discard pile on the bottom of your deck (in any order). Then draw a card.</td>
    </tr>
    <tr>
        <td>63</td>
        <td>Potions Exam</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>10 <span class="icon icon--l-p">potions</span>
        </td>
        <td>Your opponent chooses 3 of his or her cards in play and discards them (if your opponent has fewer than 3 cards in play he or she discards them all). Your opponent may prevent this by discarding 1 of his or her <span class="icon icon--l-p">potions</span> Lessons in play and discarding it.</td>
    </tr>
    <tr>
        <td>64</td>
        <td>Reptile House</td>
        <td><span class="icon icon--r-u">uncommon</span> Adventure </td>
        <td>-</td>
        <td>Effect: Your opponent can't use more than 1 Action to play Lesson cards during each of his or her turns. To Solve: Your opponent chooses 4 of his or her Lessons in play and discards them. Opponent's Reward: Your opponent may draw a card.</td>
    </tr>
    <tr>
        <td>65</td>
        <td>Silver Cauldron</td>
        <td><span class="icon icon--r-u">uncommon</span> Item, Cauldron </td>
        <td>8 <span class="icon icon--l-p">potions</span>
        </td>
        <td>Provides <span class="icon icon--l-p">potions</span><span class="icon icon--l-p">potions</span><span class="icon icon--l-p">potions</span><span class="icon icon--l-p">potions</span><span class="icon icon--l-p">potions</span>/ To play this card, discard 2 of your <span class="icon icon--l-p">potions</span> Lessons from play.</td>
    </tr>
    <tr>
        <td>66</td>
        <td>Snuffling Potion</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>4 <span class="icon icon--l-p">potions</span>
        </td>
        <td>Next turn, whenever your opponent draws a card, he or she discards it instead of putting it into his or her hand.</td>
    </tr>
    <tr>
        <td>67</td>
        <td>Stupefy</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>6 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Do 5 damage to your opponent.</td>
    </tr>
    <tr>
        <td>68</td>
        <td>Take Root</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>5 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Your opponent chooses 1 of his or her Creatures in play and discards it.</td>
    </tr>
    <tr>
        <td>69</td>
        <td>Transmogrify</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>2 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>To play this card, discard 1 of your Creatures from play. Search your deck. You may take a Creature card from your deck, show it to your opponent and put it in your hand. Then shuffle your deck.</td>
    </tr>
    <tr>
        <td>70</td>
        <td>Unusual Pets</td>
        <td><span class="icon icon--r-u">uncommon</span> Adventure </td>
        <td>-</td>
        <td>Play this card only if your opponent has any Creatures in play. Effect: Before each of your turns, your opponent takes 4 damage. To Solve: Your opponent chooses 2 of his or her Creatures in play and discards them. Opponent's Reward: Your opponent may draw a card.</td>
    </tr>
    <tr>
        <td>71</td>
        <td>Vanishing Glass</td>
        <td><span class="icon icon--r-u">uncommon</span> Spell </td>
        <td>9 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Play this card only if your opponent has any Lessons in play. Choose 1 of those Lessons and discard it. Search your deck. You may take a Creature card from your deck, show it to your opponent and put it in your hand. Then shuffle your deck.</td>
    </tr>
    <tr>
        <td>72</td>
        <td>Winged Keys</td>
        <td><span class="icon icon--r-u">uncommon</span> Item </td>
        <td>10 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Once during each of your turns, you may choose 1 of your opponent's Creatures in play. Prevent all damage done by that creature until the end of your opponent's next turn.</td>
    </tr>
    <tr>
        <td>73</td>
        <td>Accio</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>2 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Put up to 2 Lesson cards from your discard pile into your hand.</td>
    </tr>
    <tr>
        <td>74</td>
        <td>Avifors</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>2 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Choose 1 of your opponent's <span class="icon icon--l-c">care of magical creatures</span> Lessons in play and discard it.</td>
    </tr>
    <tr>
        <td>75</td>
        <td>Baubillious</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>2 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Do 1 damage to your opponent or to a Creature of your choice. Then draw a card.</td>
    </tr>
    <tr>
        <td>76</td>
        <td>Boa Constrictor</td>
        <td><span class="icon icon--r-c">common</span> Creature </td>
        <td>4 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>77</td>
        <td>Boil Cure</td>
        <td><span class="icon icon--r-c">common</span> Spell, Healing </td>
        <td>1 <span class="icon icon--l-p">potions</span>
        </td>
        <td>Put up to 4 non-Healing cards from your discard pile on the bottom of your deck (in any order).</td>
    </tr>
    <tr>
        <td>78</td>
        <td>Borrowed Wand</td>
        <td><span class="icon icon--r-c">common</span> Item, Wand </td>
        <td>3 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Provides <span class="icon icon--l-ch">charms</span><span class="icon icon--l-ch">charms</span> / If you play this card, and you already have a Wand in play, discard the old one.</td>
    </tr>
    <tr>
        <td>79</td>
        <td>Cauldron to Sieve</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>2 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Choose 1 of your opponent's <span class="icon icon--l-p">potions</span> Lessons in play and discard it.</td>
    </tr>
    <tr>
        <td>80</td>
        <td>Curious Raven</td>
        <td><span class="icon icon--r-c">common</span> Creature </td>
        <td>2 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>81</td>
        <td>Dungbomb</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>2 <span class="icon icon--l-p">potions</span>
        </td>
        <td>During your opponent's next turn, prevent all damage done to you by your opponent's Adventures and Creatures.</td>
    </tr>
    <tr>
        <td>82</td>
        <td>Epoximise</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>2 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Choose 1 of your opponent's <span class="icon icon--l-ch">charms</span> Lessons in play and discard it.</td>
    </tr>
    <tr>
        <td>83</td>
        <td>Erumpent Potion</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>3 <span class="icon icon--l-p">potions</span>
        </td>
        <td>Do 1 damage to your opponent or to a creature of your choice.</td>
    </tr>
    <tr>
        <td>84</td>
        <td>Fluffy Falls Asleep</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>3 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>Choose a Creature in play and return it to its owner's hand.</td>
    </tr>
    <tr>
        <td>85</td>
        <td>Forest Troll</td>
        <td><span class="icon icon--r-c">common</span> Creature </td>
        <td>2 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>To play this card, discard 1 of your <span class="icon icon--l-c">care of magical creatures</span> Lessons from play.</td>
    </tr>
    <tr>
        <td>86</td>
        <td>Forgetfulness Potion</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>7 <span class="icon icon--l-p">potions</span>
        </td>
        <td>To play this card, discard 1 of your <span class="icon icon--l-p">potions</span> Lessons from play. During your opponent's next turn, he or she can't play cards.</td>
    </tr>
    <tr>
        <td>87</td>
        <td>Foul Brew</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>5 <span class="icon icon--l-p">potions</span>
        </td>
        <td>Do 2 damage to your opponent or to a Creature of your choice.</td>
    </tr>
    <tr>
        <td>88</td>
        <td>Giant Tarantula</td>
        <td><span class="icon icon--r-c">common</span> Creature </td>
        <td>1 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>To play this card, discard 1 of your <span class="icon icon--l-c">care of magical creatures</span> Lessons from play.</td>
    </tr>
    <tr>
        <td>89</td>
        <td>Hagrid and the Stranger</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>4 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>Put a Creature card from your discard pile into your hand.</td>
    </tr>
    <tr>
        <td>90</td>
        <td>Homework</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>2 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Put up to 2 Lesson cards from your hand into play.</td>
    </tr>
    <tr>
        <td>91</td>
        <td>Hospital Wing</td>
        <td><span class="icon icon--r-c">common</span> Spell, Healing </td>
        <td>4 <span class="icon icon--l-p">potions</span>
        </td>
        <td>To play this card, discard 1 of your <span class="icon icon--l-p">potions</span> Lessons from play. Shuffle up to 8 non-Healing cards from your discard pile into your deck.</td>
    </tr>
    <tr>
        <td>92</td>
        <td>Illegibilus</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>5 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Look at your opponent's hand. Choose 1 of those cards and discard it.</td>
    </tr>
    <tr>
        <td>93</td>
        <td>Incarcifors</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>6 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Choose 1 of your opponent's Creatures in play and discard it.</td>
    </tr>
    <tr>
        <td>94</td>
        <td>Lost Notes</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>5 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Choose 1 of your opponent's Items or Lessons in play and discard it.</td>
    </tr>
    <tr>
        <td>95</td>
        <td>Magical Mishap</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>2 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Do 3 damage to your opponent.</td>
    </tr>
    <tr>
        <td>96</td>
        <td>Noxious Potion</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>3 <span class="icon icon--l-p">potions</span>
        </td>
        <td>To play this card, discard 1 of your <span class="icon icon--l-p">potions</span> Lessons from play. Do 5 damage to your opponent or to a Creature of your choice.</td>
    </tr>
    <tr>
        <td>97</td>
        <td>Out of the Woods</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>5 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Look at your opponent's hand. Discard all Creature cards from it.</td>
    </tr>
    <tr>
        <td>98</td>
        <td>Pet Rat</td>
        <td><span class="icon icon--r-c">common</span> Creature </td>
        <td>1 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td>To play this card, discard 1 of your <span class="icon icon--l-c">care of magical creatures</span>Lessons from play.</td>
    </tr>
    <tr>
        <td>99</td>
        <td>Pewter Cauldron</td>
        <td><span class="icon icon--r-c">common</span> Item, Cauldron </td>
        <td>5 <span class="icon icon--l-p">potions</span>
        </td>
        <td>Provides <span class="icon icon--l-p">potions</span><span class="icon icon--l-p">potions</span><span class="icon icon--l-p">potions</span> / To play this card, discard 1 of your <span class="icon icon--l-p">potions</span> Lessons from play.</td>
    </tr>
    <tr>
        <td>100</td>
        <td>Potions Mistake</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>6 <span class="icon icon--l-p">potions</span>
        </td>
        <td>To play this card, discard 3 of your <span class="icon icon--l-p">potions</span> Lessons from play. Choose 1 of your opponent's Creatures or Items in play and discard it.</td>
    </tr>
    <tr>
        <td>101</td>
        <td>Remembrall</td>
        <td><span class="icon icon--r-c">common</span> Item </td>
        <td>8 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>During your turn, you may use an Action to put a Lesson card from your discard pile into play.</td>
    </tr>
    <tr>
        <td>102</td>
        <td>Restricted Section</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>2 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Choose 1 of your opponent's <span class="icon icon--l-t">transfiguration</span> Lessons in play and discard it.</td>
    </tr>
    <tr>
        <td>103</td>
        <td>Scottish Stag</td>
        <td><span class="icon icon--r-c">common</span> Creature </td>
        <td>4 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>104</td>
        <td>Snape's Question</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>3 <span class="icon icon--l-p">potions</span>
        </td>
        <td>Do 4 damage to your opponent. Your opponent may prevent this damage by showing you a <span class="icon icon--l-p">potions</span> Lesson from his or her hand.</td>
    </tr>
    <tr>
        <td>105</td>
        <td>Squiggle Quill</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>2 <span class="icon icon--l-t">transfiguration</span>
        </td>
        <td>Choose 1 of your opponent's Items in play and discard it.</td>
    </tr>
    <tr>
        <td>106</td>
        <td>Steelclaw</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>4</td>
        <td>All your creatures do damage to your opponent.</td>
    </tr>
    <tr>
        <td>107</td>
        <td>Surly Hound</td>
        <td><span class="icon icon--r-c">common</span> Creature </td>
        <td>3 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>108</td>
        <td>Toe Biter</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>3 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Do 2 damage to your opponent. You may also choose a Creature and do 2 damage to it.</td>
    </tr>
    <tr>
        <td>109</td>
        <td>Vermillious</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>4 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Do 3 damage to your opponent or to a Creature of your choice.</td>
    </tr>
    <tr>
        <td>110</td>
        <td>Vicious Wolf</td>
        <td><span class="icon icon--r-c">common</span> Creature </td>
        <td>6 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>111</td>
        <td>Wingardium Leviosa!</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>1 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>During your opponent's next turn, prevent all damage done to you by your opponent's Creatures.</td>
    </tr>
    <tr>
        <td>112</td>
        <td>Wizard Crackers</td>
        <td><span class="icon icon--r-c">common</span> Spell </td>
        <td>1 <span class="icon icon--l-ch">charms</span>
        </td>
        <td>Reveal the top card of your deck. If it's a Lesson card, put it into play. If it isn't, put the card in your hand.</td>
    </tr>
    <tr>
        <td>113</td>
        <td>Care of Magical Creatures</td>
        <td>Lesson</td>
        <td>-</td>
        <td>Provides 1 <span class="icon icon--l-c">care of magical creatures</span>
        </td>
    </tr>
    <tr>
        <td>114</td>
        <td>Charms</td>
        <td>Lesson</td>
        <td>-</td>
        <td>Provides 1 <span class="icon icon--l-ch">charms</span>
        </td>
    </tr>
    <tr>
        <td>115</td>
        <td>Potions</td>
        <td>Lesson</td>
        <td>-</td>
        <td>Provides 1 <span class="icon icon--l-p">potions</span>
        </td>
    </tr>
    <tr>
        <td>116</td>
        <td>Transfiguration</td>
        <td>Lesson</td>
        <td>-</td>
        <td>Provides 1 <span class="icon icon--l-t">transfiguration</span>
        </td>
    </tr>
    </tbody>
</table>

<p class="text--right"><a href="/cardlist">Back to cardlist</a></p>
<p class="text--right"><a href="/game">Back to section "The Game"</a></p>