<% content_for :title do %>
    Lista kart - spis treści
<% end %>
<h2 class="header header--main">Spis kart</h2>
<p class="no-indent">Spis kart jest sukcesywnie aktualizowany. Zauważone błędy proszę zgłaszać poprzez zakładkę <a href="/kontakt">Kontakt</a>.</p>
<ul class="list--unordered">
    <li><a href="/spis-kart-bs">Basic Set (Edycja podstawowa)</a>
    </li>
    <li><a href="/spis-kart-qp">Quidditch Cup (<span class="italic">Puchar Quidditcha</span>)</a>
    </li>
    <li><a href="/spis-kart-da">Diagon Alley (<span class="italic">Ulica Pokątna</span>)</a>
    </li>
    <li>Adventures at Hogwart (<span class="italic">Przygody w Hogwarcie</span>)</li>
    <li>Chamber of Secrets (<span class="italic">Komnata Tajemnic</span>)</li>
</ul>

<p class="text--right"><a href="/o-grze">Powrót do sekcji "Gra"</a></p>