<% content_for :title do %>
    Card List - table of contents
<% end %>
<h2 class="header header--main">Card List</h2>
<p class="no-indent">The list below is unmaintained anymore. You may be interesting in our <a href="/deck-builder/">card's gallery and deck builder</a>.</p>
<ul class="list--unordered">
    <li><a href="/cardlist-bs">Basic Set</a>
    </li>
    <li><a href="/cardlist-qp">Quidditch Cup</a>
    </li>
    <li><a href="/cardlist-da">Diagon Alley</a>
    </li>
    <li>Adventures at Hogwart</li>
    <li>Chamber of Secrets</li>
</ul>

<p class="text--right"><a href="/game">Back to section "The Game"</a></p>