<% content_for :title do %>
    Collect
<% end %>
<h2 class="header header--main">Collect</h2>

<p class="no-indent">See the section <a href="/trade">Trade</a> if you are interested in buying or exchanging single cards.</p>
<p class="no-indent">Download the spreadsheet assisting collecting, comprised of all the cards in game:
    <br>
    <a href="files/collect-spreedsheet.xls">download&nbsp;the&nbsp;spreadsheet:</a>
    <br>
    <span class="text--smallest">(source: <a href="https://boardgamegeek.com/">boardgamegeek.com</a>)</span></p>

<p class="text--right"><a href="/game">Back to section "The Game"</a></p>