<% content_for :title do %>
    Kolekcjonowanie
<% end %>
<h2 class="header header--main">Kolekcjonowanie</h2>

<p class="no-indent">Zajrzyj do działu <a href="/handel">Handel</a> jeśli jesteś zainteresowany kupnem lub wymianą pojedynczych kart.</p>
<p class="no-indent">Pobierz arkusz kalkulacyjny wspomagający kolekcjonowanie, zawierający wszystkie karty w grze:
    <br>
    <a href="files/collect-spreedsheet.xls">pobierz&nbsp;arkusz</a>
    <br>
    <span class="text--smallest">(źródło: <a href="https://boardgamegeek.com/">boardgamegeek.com</a>)</span></p>
