<% content_for :title do %>
    Community
<% end %>
<h2 class="header header--main">Community</h2>

<p>Community is important part of the Harry Potter TCG world. Without community impossible is playing with other people, trading cards and collecting hobby.</p>

<p>If You want to buy/sell/trade cards, see <a href="/trade">Trade</a>. If you want to join to the community, it's worth seeing <a href="/forum">forum</a>.</p>

<p>In Diagon Alley community, You can: discuss play and deck building strategies, trade, meet for playing in Your neighbourhood, or talk about game stuff. You have the opportunity to meet interesting people, with whom You will become friends in real world too. I invite You to <a href="/forum">join the forums</a>.</p>