<% content_for :title do %>
    Strona główna
<% end %>
<h2 class="header header--main">Społeczność</h2>
<p>Społeczność jest ważnym składnikiem świata gry Harry Potter TCG. Bez społeczności niemożliwe jest granie z innymi ludźmi, wymiana kart oraz wspólne oddanie się hobby kolekcjonowania.</p>
<p>Jeśli chcesz kupić/sprzedać/wymienić karty, zajrzyj do sekcji <a href="/spis-kart">Handel</a>. Jeśli natomiast chciałbyś dołączyć do społeczności, warto zajrzeć na <a href="/forum">forum</a>.</p>
<p>W ramach społeczności Ulicy Pokątnej możesz dyskutować na temat strategii gry i budowania talii, handlować, umówić się na rozgrywki w Twojej okolicy, bądź omawiać kwestie obracające się wokół gry. Masz okazję poznać ciekawych ludzi, z którymi być może zaprzyjaźnisz się także poza wirtualnym światem. Serdecznie zapraszam do <a href="/forum">rejestracji na forum</a>.</p>