<% content_for :title do %>
    Game description
<% end %>
<h2 class="header header--main">Game description</h2>
<p><span class="italic">Harry Potter Trading Card Game</span> is a collective card game created in 2001. It is based on the Harry Potter world presented in the first book depicting the adventures of the famous magician. The following conclusions and consequences result from it:</p>
<ul class="list--ordered">
    <li>This is a collective game which means that one of its aspects is the collecting of cards – one needs to buy additional packages (so called <span class="italic">boosters</span>) containing 11 random cards, in order to enlarge ones collection.</li>
    <li>Player can make the deck by oneself.</li>
    <li>It is an old game which makes it hardly available, as an effect it’s difficult to collect.</li>
</ul>

<figure class="figure figure--center">
    <img alt="Card: Norbert" class="figure__item" src="/cards/bs/30.jpg" />
</figure>

<p>An undoubted advantage of this game is its main feature – the setting, which is the world of Harry Potter. If you want to come back to the times when you were fascinated with this book, this game is especially for you! Most of the cards relates to the characters, events, and spells about which we could read in the saga, and each card contains interesting and attractive illustration (often even a quotation from the book is included). As an example prime characters such as <span class="italic">Ron Wesley</span>, and <span class="italic">Draco Malfoy</span>; supporting characters e.g. <span class="italic">Dean Thomas</span>; adventures, for instance the <span class="italic">Troll in the bathroom</span>; spells including <span class="italic">Oblivate</span> (spell of oblivion); and even places like <span class="italic">Platform 9 &#190;</span>, can be given.</p>

<p>Games are fast and usually do not take more than 15 minutes. The better the players know their deck, the shorter the game takes (the time reduces to even 5-10 minutes). The game has simple, easy and clear rules, thanks to that even 12 year old children can play it (it is worth mentioning that at least the basic knowledge of English is required for the understanding of cards’ description). The game does not need a lot of space, so it can be played on the go, or on a table in a cafe, and two 60-cards’ decks fit in the pockets of the jacket, or a purse, without problems.</p>

<p>Does the fact that the game has uncomplicated rules seem to be disadvantageous? Nothing could be further from the truth! Although less complex rules limit the player’s possibilities, they make the game light and relaxing, and it serves as a perfect “time killer”.</p>

<h3 class="header" id="rules-summary">Rules Summary</h3>
<figure class="figure figure--left"><img alt="Card: Draco Malfoy" class="figure__item" src="/cards/bs/3.jpg" />
    <figcaption class="figure__caption">Draco Malfoy, Character card</figcaption>
</figure>

<p>The game is for two players. You and your opponent are wizards from Hogwarts. Each player has a deck comprise of 60, chosen by the player, magic cards – <span class="bold">Spells</span>, <span class="bold">Magical Creatures</span>, <span class="bold">Items</span> or <span class="bold">Adventures</span>. There is also one more card – <span class="bold">Character</span> card, chosen <span class="bold">Wizard</span>, serving as the avatar of the player. It can be the famous Harry Potter, his friends: Ron or Hermione, and antagonists such as Professor Snape or Draco Malfoy.</p>

<p>The aim of the game is to defeat the enemy. This can be achieved through dealing damage to your opponent, using spell cards, creatures or special abilities possessed by the characters. Damage is dealt directly to the opponent’s deck – it means that one’s deck is also one’s bank of health points. Decreasing the amount of cards, the opponent could play, brings closer to the victory</p>

<p class="no-indent">If You are interested in detailed rules, see <a href="/rules">Rules</a> section.</p>

<p class="text--right"><a href="/game">Back to section "The Game"</a></p>