<% content_for :title do %>
    Extensions description
<% end %>
<h2 class="header header--main">Extensions description</h2>

<p>This section describes the extensions for the <span class="italic">Harry Potter Trading Card Game</span>. If you do not know the rules of the basic version of the game, I recommend <a href="/rules">looking through</a> it before reading about the extensions. In order to go to the description of the extension choose it from the list below:</p>
<ul class="list--unordered">
    <li><a href="#quidditch-cup">Quidditch Cup</a>
    </li>
    <li><a href="#diagon-alley">Diagon Alley</a>
    </li>
    <li><a href="#adventures-at-hogwart">Adventures at Hogwart</a>
    </li>
    <li><a href="#chamber-of-secrets">Chamber of Secrets</a>
    </li>
</ul>
<h3 class="header">Quidditch Cup</h3>
<p>Quidditch Cup introduces to the game, known from the book - Quidditch gameplays (in the base set there is no Quidditch), and complements the game with the new mechanics – the <span class="bold">Matches</span> and <span class="bold">Quidditch Lesson Cards</span> <span class="icon icon--l-q"></span>. So we have got new Character Cards (e.g. Ms Hootch – Quidditch trainer), Item Cards (e.g. Brooms), Quidditch Lesson Cards (marked with yellow colour), Match cards, and several dozen of other cards, mostly connected with this magical sport.</p>
<p>The matches in their action are similar to <span class="bold">Adventure Cards</span> – played by one of the players, and there is a prize for their solution (victory, in case of matches). Before solving the event (Winning) it affects the game in a specified way (each card has a description of this effect). <span class="bold">But there is a difference</span>. In case of Adventures, the first player plays the card, and the second one is the only player that can solve it. When it comes to Matches, both players can win (the victorious one gets the prize). If we have the right card set we can: play the match, win it immediately, and get the prize.</p>
<p>List of the Cards available in the extension you can find <a href="/cardlist-qp">here</a>.</p>

<p class="text--right"><a href="/game">Back to section "The Game"</a></p>