<% content_for :title do %>
    Opis dodatków
<% end %>
<h2 class="header header--main">Opis dodatków</h2>
<p>Sekcja ta opisuje rozszerzenia do gry <span class="italic">Harry Potter Trading Card Game</span>. Jeśli nie znasz zasad rządzących podstawową wersją gry, radzę je <a href="/zasady">przejrzeć</a> przed opisem dodatków. Aby przejść do opisu rozszerzenia, wybierz je z listy poniżej:</p>
<ul class="list--unordered">
    <li><a href="#quidditch-cup">Quidditch Cup (<span class="italic">Puchar Quidditcha</span>)</a>
    </li>
    <li><a href="#diagon-alley">Diagon Alley (<span class="italic">Ulica Pokątna</span>)</a>
    </li>
    <li><a href="#adventures-at-hogwart">Adventures at Hogwart (<span class="italic">Przygody w Hogwarcie</span>)</a>
    </li>
    <li><a href="#chamber-of-secrets">Chamber of Secrets (<span class="italic">Komnata Tajemnic</span>)</a>
    </li>
</ul>
<h3 class="header">Quidditch Cup</h3>
<p>Quidditch Cup wprowadza do gry znane z książki rozgrywki w Quidditcha (w podstawowej wersji gry nie istnieje Quidditch), a także uzupełnia grę o nową mechanikę - <span class="bold">Mecze</span> oraz karty <span class="bold">Lekcji</span> Quidditcha <span class="icon icon--l-q"></span>. Mamy więc nowe karty czarodziejów (np. panią Hootch - trenerkę Quidditcha), karty przedmiotów (np. latające miotły), karty lekcji Quidditcha (oznaczone kolorem żółtym), karty meczów, a także kilkadziesiąt innych kart, w większości powiązanych z tym magicznym sportem.</p>
<p>Mecze w swoim działaniu są podobne do kart <span class="bold">Przygód</span> - wykłada je jeden z graczy, a za ich rozwiązanie (wygranie, w przypadku meczów) otrzymuje się nagrodę. Zanim zdarzenie zostanie rozwiązane (wygrane) oddziałuje w określony na karcie sposób na grę. <span class="bold">Istnieje jednak różnica</span>. W przypadku zdarzeń gracz pierwszy wykłada kartę zdarzenia, a rozwiązać je może tylko gracz drugi. W przypadku kart meczów jednak, wygrać dany mecz może każdy z graczy (a wygrany otrzymuje nagrodę). Jeśli więc posiadamy odpowiedni zestaw kart możemy wyłożyć mecz i natychmiast sami go wygrać, a tym samym zebrać nagrodę.</p>
<p>Listę kart dostępnych w rozszerzeniu znajdziesz <a href="/spis-kart-qp">tutaj</a>
</p>

<p class="text--right"><a href="/o-grze">Powrót do sekcji "Gra"</a></p>