<% content_for :title do %>
    Forum
<% end %>
<h2 class="header header--main">Forum</h2>

<p>Forum nie zostało jeszcze stworzone. Zapraszam za jakiś czas.</p>

<article class="news">
    <header class="news__header">
        <h3 class="header">Aktualizacja</h3>
        <time class="news__datetime">8.01.2017</time>
    </header>
    <p>Prace nad forum intensywnie trwają - docelowo cała aplikacja forum ma być spolszczona i dopasowana do wyglądu strony,
        dlatego uruchomienie jej się przedłuża. Nie mam też dużo czasu, żeby nad tym pracować, a praca iście syzyfowa!
        Jeszcze w styczniu forum powinno się pojawić.</p>
    <footer class="news__footer">
        <span class="news__signature">Soanvig</span>
    </footer>
</article>