<h2 class="header header--main">Gra</h2>
<p>Sekcja ta poświęcona jest bezpośrednio grze Harry Potter Trading Card Game oraz jej rozszerzeniom:</p>
<ol class="list--ordered">
    <li>Quidditch Cup (<span class="italic">Puchar Quidditcha</span>)</li>
    <li>Diagon Alley (<span class="italic">Ulica Pokątna</span>)</li>
    <li>Adventures at Hogwart (<span class="italic">Przygody w Hogwarcie</span>)</li>
    <li>Chamber of Secrets (<span class="italic">Komnata Tajemnic</span>)</li>
</ol>
<p class="no-indent">Spis treści:</p>
<ul class="list--unordered">
    <li><a href="/description">Opis gry</a>
    </li>
    <li><a href="/rules">Zasady</a>
    </li>
    <li><a href="/cardlist">Spis kart</a>
    </li>
</ul>