<% content_for :title do %>
    The Game - table of contents
<% end %>
<h2 class="header header--main">The Game</h2>
<p>This section focuses on Harry Potter Trading Card Game and its extensions:</p>
<ol class="list--ordered">
    <li>Quidditch Cup</li>
    <li>Diagon Alley</li>
    <li>Adventures at Hogwart</li>
    <li>Chamber of Secrets</li>
</ol>
<p class="small-margin no-indent">Table of contents:</p>
<nav>
    <ul class="list--unordered">
        <li class="submenu__item">
            <a href="/description">Game description</a>
        </li>
        <li class="submenu__item">
            <a href="/how-to-begin">How to begin?</a>
        </li>
        <li class="submenu__item">
            <a href="/extensions">Extensions</a>
        </li>
        <li class="submenu__item">
            <a href="/rules">Rules</a>
        </li>
        <li class="submenu__item">
            <a href="/collect">Collect</a>
        </li>
        <li class="submenu__item">
            <a href="/cardlist">List of Cards</a>
        </li>
    </ul>
</nav>