<% content_for :title do %>
    How to begin?
<% end %>
<h2 class="header header--main">How to begin?</h2>

<h3 class="header">Basic information</h3>
<p class="small-margin">The game Harry Potter TCG requires two players, so if you are interested in playing (not only collecting), it is worth finding people who:</p>
<ul class="list--unordered">
    <li>will be interested in playing with You,</li>
    <li>may also be interested in collecting cards.</li>
</ul>

<p>In order to play one needs cards (the amount of which is questionable). Accessories such as the board and tokens is totally optional.</p>

<p>Cards can be found in the player Starter Sets (two ready decks comprised of 41 cards) and boosters (11 cards in each).</p>

<p class="no-indent">There are two Starter Sets: <span class="bold">Basic</span> and <span class="bold">Diagon Alley</span>.</p>

<p>The first one contains cards from the Base Set. The second one is closely linked to the second extension of the game, having the same name, and containing the cards from the extension. Both starters comprises of the board (which has summarised rules printed on it) and 12 tokens useful for marking the damage and other points on cards.
<br>
Which one to choose? In my opinion it is better to start with the Base Set, then successively go to other extensions. The moment we will already have the Base Set we will probably not feel the urge to buy the Diagon Alley Set.</p>

<p class="no-indent">Price of one Set is  relatively low (depends on country). Not much for 82 cards, the board and tokens for the game.</p>

<div style="display: flex; justify-content: center;">
    <figure class="figure figure--left">
        <img src="images/starter-set.jpg" alt="" class="figure__item">
        <figcaption class="figure__caption">Base Starter Set</figcaption>
    </figure>
    <figure class="figure figure--right">
        <img src="images/diagon-alley-starter-set.jpg" alt="" class="figure__item">
        <figcaption class="figure__caption">
            Diagon Alley<br>Starter Set
            <span class="text--smaller">source: amazon.com</span>
        </figcaption>
    </figure>
</div>

<p>It is possible to avoid buying the Starter Set and buying boosters instead. Although we will not have tokens and the board, we will at once start collecting rare cards (the Base Set contains mainly common cards).</p>

<p class="small-margin">Each part of the game (basic, extensions) contains boosters in different versions – but differing only in packaging. Each booster has:</p>
<ul class="list--unordered bold">
    <li>1 rare or premium card <span class="icon--r-r" aria-hidden="true"></span> <span class="icon--r-p" aria-hidden="true"></span></li>
    <li>2 uncommon card <span class="icon--r-u" aria-hidden="true"></span></li>
    <li>2 lessons</li>
    <li>6 common cards <span class="icon--r-c" aria-hidden="true"></span></li>
</ul>
<p class="no-indent">It happens, that one can get 2 rare (or even more!) cards in one booster</p>

<p class="text--right"><a href="/game">Back to section "The Game"</a></p>