<% content_for :title do %>
    Main page
<% end %>
<h2 class="header header--main">Main page</h2>

<article class="parchment">
    <h3 class="header parchment__header">To begin with...</h3>
    <p>I welcome You in this small corner of the Internet. This page is dedicated to a card game based on Harry Potter world, and the target of the page is <span class="underline">popularization</span> of the game, and <span class="underline">gathering</span> people interested in the game.</p>
    <p>New players are invited to <a href="/description">section describing the game</a>, and master players are recommended to join <a href="/community">community</a>.</p>
    <span class="parchment__signature">Soanvig</span>
</article>

<article class="news">
    <header class="news__header">
        <h3 class="header">Forum started</h3>
        <time class="news__datetime">10.01.2017</time>
    </header>
    <p>Forums started to exist. Of course not everything is perfect about it, so please to report all mistakes on forums in "Forum organization" section or through the page <a href="/contact">Contact</a>. I invite You to registration and creating new topics!</p>
    <footer class="news__footer">
        <span class="news__signature">Soanvig</span>
    </footer>
</article>