<% content_for :title do %>
    Main page
<% end %>
<h2 class="header header--main">Main page</h2>

<article class="parchment">
    <h3 class="header parchment__header">To begin with...</h3>
    <p>I welcome You in this small corner of the Internet. This page is dedicated to a card game based on Harry Potter world, and the target of the page is <span class="underline">popularization</span> of the game, and <span class="underline">gathering</span> people interested in the game.</p>
    <p>New players are invited to <a href="/description">section describing the game</a>, and master players are recommended to join <a href="/community">community</a>.</p>
    <span class="parchment__signature">Soanvig</span>
</article>

<article class="news">
    <header class="news__header">
        <h3 class="header">Deck Builder</h3>
        <time class="news__datetime">10.08.2017</time>
    </header>
    <p>I'm proud to announce, that the deck builder I've been working on for past few weeks enters open-beta state. <a href="/deck-builder/">Deck Builder</a> allows you to browse HPTCG cards, build decks, and save them in browser bookmarks or share with friend.</p>
    <p>The cardlist is however not complete (at the moment of writing this news we have base set and Quidditch Cup cardlists), just as scans are not (I don't own all cards). If you like the deck builder, contribute to its creation by signing in appropiate <a href="/forum">forum</a> topic.</p>
    <p>If you notice any bugs or have ideas to upgrade deck builder, feel free to write at <a href="/forum">forum</a></p>
    <footer class="news__footer">
        <span class="news__signature">Soanvig</span>
    </footer>
</article>

<article class="news">
    <header class="news__header">
        <h3 class="header">Forum started</h3>
        <time class="news__datetime">10.01.2017</time>
    </header>
    <p>Forums started to exist. Of course not everything is perfect about it, so please to report all mistakes on forums in "Forum organization" section or through the page <a href="/contact">Contact</a>. I invite You to registration and creating new topics!</p>
    <footer class="news__footer">
        <span class="news__signature">Soanvig</span>
    </footer>
</article>