<% content_for :title do %>
    Strona główna
<% end %>
<h2 class="header header--main">Strona główna</h2>
<article class="parchment">
    <h2 class="header parchment__header">Słowem wstępu</h2>
    <p>Witam Cię serdecznie w tym skromnym zaułku Internetu. Strona ta poświęcona jest sympatycznej grze karcianej stworzonej w oparciu o świat Harry'ego Pottera, natomiast celem witryny jest przede wszystkim <span class="underline">popularyzacja</span> tejże gry oraz <span class="underline">zrzeszenie</span> ludzi, którzy już zostali przez tę grę wciągnięci.</p>
    <p>Nowych graczy zapraszam do <a href="/opis-gry">sekcji opisującej pokrótce grę</a>, natomiast wyjadaczom polecam dołączenie do <a href="/spolecznosc">społeczności</a>.</p><span class="parchment__signature">Schizohatter</span>
</article>