<% content_for :title do %>
    Zasady gry
<% end %>
<h2 class="header header--main">Zasady gry</h2>

<p>W tym dziale przedstawione zostaną szczegółowe zasady rządzące grą Harry Potter TCG (edycją podstawową - opis nowych zasad pochodzących z rozszerzeń znajdziesz na <a href="/extensions">stronie poświęconej rozszerzeniom</a>).</p>
<p>Pełne zasady znajdziesz także w oficjalnej instrukcji gry dostępnej w <span class="italic">Zestawie Startowym</span> oraz <span class="italic">Zestawie Startowym Diagon Alley</span>, natomiast zasady streszczone na planszy dodawanej do zestawów startowych.</p>

<ul class="list--ordered">
    <li><a href="#summary">Zasady ogólne</a>
    </li>
    <li><a href="#start">Rozpoczęcie gry</a>
    </li>
    <li><a href="#moves">Kolejność ruchów</a>
    </li>
    <li><a href="#cards">Rodzaje kart</a>
        <ul class="list--unordered sublist">
            <li><a href="#cards-lessons">Lekcje</a>
            </li>
            <li><a href="#cards-creatures">Stworzenia</a>
            </li>
            <li><a href="#cards-spells">Czary</a>
            </li>
            <li><a href="#cards-characters">Postaci</a>
            </li>
            <li><a href="#cards-items">Przedmioty</a>
            </li>
            <li><a href="#cards-adventures">Przygody</a>
            </li>
        </ul>
    </li>
    <li><a href="#uniqueness">Unikalność kart</a>
    </li>
</ul>

<h3 class="header" id="summary">Zasady ogólne</h3>

<p>Celem rozgrywki jest pokonanie przeciwnika. Osiągnąć ten cel można poprzez zadawanie przeciwnikowi obrażeń za pomocą kart czarów, potworów czy specjalnych umiejętności bohaterów. Obrażenia zadawane są bezpośrednio talii przeciwnika - oznacza to, że talia przeciwnika stanowi równocześnie jego pulę punktów życia. Zadawanie obrażeń zmniejsza liczbę kart, którymi może przeciwnik zagrać, więc w podwójny sposób przybliża to do zwycięstwa.</p>

<h3 class="header" id="start">Rozpoczęcie gry</h3>
<p class="no-indent">Przed rozpoczęciem każdej rozgrywki należy wykonać kilka podstawowych czynności:</p>
<ol class="list--ordered">
    <li>Każdy z graczy wybiera talię, którą chce grać. Może to być jedna z talii dołączonych do zestawu startowego, bądź talia złożona samodzielnie przy pomocy boosterów (takowa powinna posiadać 60 kart + kartę Czarodzieja).</li>
    <li>Należy rozłożyć planszę, a każdy z graczy kładzie kartę swojego Czarodzieja/Czarodziejki (<span class="bold">Wizard</span>/<span class="bold">Witch</span>) we właściwym miejscu na planszy.</li>
    <li>Każdy z graczy tasuje swoją talię i układa ją we właściwym miejscu na swojej połówce planszy, "twarzą" (stroną z opisem działania karty) w dół.</li>
    <li>Gracze ciągną po 7 kart ze swoich talii.</li>
    <li>Gracze decydują, który z nich zaczyna (poprzez losowanie lub wybór).</li>
    <li>W tym momencie gracz rozpoczynający zaczyna swoją pierwszą turę poprzez pociągnięcie nowej karty zgodnie z <a href="#moves">kolejnością ruchów</a>.</li>
</ol>

<h3 class="header" id="moves">Kolejność ruchów</h3>
<p>Kolejność ruchów jest rzeczą, której należy ściśle przestrzegać, ponieważ często potrafi zaważyć na zwycięstwie lub przegranej. Szczególnie ważne jest rozpoczęcie tury poprzez pociągnięcie karty, gdyż to pociągnięcie potrafi nas pokonać (jeśli ciągnięta karta będzie kartą ostatnią w naszej talii).</p>
<ol class="list--ordered">
    <li>Dobranie karty (obowiązkowe).</li>
    <li>Zadanie obrażeń przeciwnikowi przy użyciu swoich Stworzeń.</li>
    <li>Wykonanie maksymalnie dwóch akcji z poniższych (akcję można wykonać podwójnie tę samą)
        <ul class="list--unordered sublist">
            <li>Zagranie karty Lekcji;</li>
            <li>Zagranie karty Stworzenia lub Czaru (pod warunkiem posiadania odpowiedniej ilości kart Lekcji na stole);</li>
            <li>Zagranie karty Przygody lub Postaci (koszt dwóch akcji);</li>
            <li>Dobranie jednej dodatkowej karty z talii.</li>
        </ul>
    </li>
    <li>Zakończenie ruchu.</li>
</ol>

<h3 class="header" id="cards">Rodzaje kart</h3>
<p>W grze wyróżnić można kilka typów kart: Lekcje (<span class="bold">Lesson</span>), Stworzenia (<span class="bold">Creature</span>), Czary (<span class="bold">Spell</span>), Postaci (<span class="bold">Character</span>), Przedmioty (<span class="bold">Item</span>) oraz Przygody (<span class="bold">Adventure</span>).</p>

    <h4 class="header header--subheader" id="cards-lessons">Lekcje</h4>
    <figure class="figure figure--left"><img alt="Karta: Potions" class="figure__item m-b-20" src="/cards/115.jpg" /><img alt="Karta: Charms" class="figure__item" src="/cards/114.jpg" />
    </figure>
    <p>Karty Lekcji (ang. <span class="italic">Lesson</span>) zwiększają moc gracza, umożliwiając mu zagrywanie coraz to silniejszych kart. Wyłożenie każdej karty Czaru, Przedmiotu i Stworzenia wymaga posiadania określonej liczby Lekcji. Sama ich liczba jednak nie wystarczy, ponieważ istotny jest także <span class="bold">typ</span> lekcji.</p>
    <p>Istnieją cztery typy Lekcji: lekcje eliksirów (<span class="italic">Potions</span> <span class="icon icon--l-p"></span>), lekcje uroków (<span class="italic">Charms</span> <span class="icon icon--l-ch"></span>), lekcje transmutacji (<span class="italic">Transfiguration</span> <span class="icon icon--l-t"></span>) oraz lekcje opieki nad magicznymi stworzeniami (<span class="italic">Care of Magical Creatures</span> <span class="icon icon--l-c"></span>). <span class="bold">Uwaga!</span> zapamiętanie tych symbolów jest rzeczą bardzo ważną, ponieważ znakomita większość opisów na tej stronie będzie wykorzystywała te symbole do identyfikacji kart.</p>
    <figure class="figure figure--right"><img alt="Karta: Transfiguration" class="figure__item m-b-20" src="/cards/116.jpg" /><img alt="Karta: Care of Magical Creatures" class="figure__item" src="/cards/113.jpg" />
    </figure>
    <p>Każda wyłożona karta Lekcji zwiększa moc gracza o jeden punkt. Przykładowo, aby użyć kartę, która wymaga czterech punktów mocy, gracz musi posiadać na stole cztery karty Lekcji. Natomiast wystarczy, że gracz posiada <span class="underline">co najmniej jedną</span> kartę Lekcji danego typu, aby zagrać kartę, która tego typu wymaga. </p>
    <p>Przykładowo: karta <span class="italic">Magical Mishap</span> wymaga dwóch kart i jest to karta typu <span class="icon icon--l-ch">uroków</span>. Oznacza to, że gracz potrzebuje mieć wyłożoną co najmniej jedną kartę lekcji uroków <span class="icon icon--l-ch"></span> (co da mu jeden punkt mocy), a druga karta lekcji może być dowolnego typu (aby otrzymać drugi punkt mocy). W ten sposób gracz będzie posiadał 2 punkty mocy - w tym jedną kartę lekcji <span class="icon icon--l-ch"></span> - i będzie mógł zagrać <span class="italic">Magical Mishap</span>.</p>

    <h4 class="header header--subheader" id="cards-creatures">Stworzenia</h4>
    <p>Karty Stworzeń (ang. <span class="italic">Creature</span>) służą do zadawania obrażeń przeciwnikowi. Każda karta stworzenia wymaga posiadania wyłożonej co najmniej jednej lekcji typu <span class="icon icon--l-c"></span>. Karty Stworzeń wykładane są w taki sam sposób jak pozostałe karty, a obrażenia zadają na początku tury, tuż po pociągnięciu karty z talii.</p>
    <p>Każda karta Stworzenia posiada życie oraz obrażenia, które zadaje talii przeciwnika (a niektóre posiadają także specjalne efekty/umiejętności).</p>
    <figure class="figure figure--left"><img alt="Karta: Surly Hound" class="figure__item" src="/cards/107.jpg" />
    </figure>
    <p>Życie oznacza ilość punktów obrażeń, jakie stworzenie musi przyjąć, aby zostało zniszczone. Jeśli umiejętność lub czar nie zniszczy od razu stworzenia, obrażenia jakie stworzenie <span class="underline">już otrzymało</span> oznacza się za pomocą znaczników (mogą to być żetony dołączone do gry, monety, czy jakiekolwiek inne przedmioty dostępne pod ręką).</p>
    <p>Stworzenia nie mogą atakować innych stworzeń, a także nie mogą być atakowane za pomocą czarów, na których nie jest napisane, że zadają obrażenia stworzeniom.</p>

    <h4 class="header header--subheader" id="cards-spells">Czary</h4>
    <figure class="figure figure--right"><img alt="Karta: Accio" class="figure__item" src="/cards/73.jpg" />
    </figure>
    <p>Karty Czarów (ang. <span class="italic">Spell</span>) są najbardziej uniwersalnymi kartami. Mogą wymagać każdego rodzaju Lekcji, a przy tym mogą mieć najróżniejsze efekty - mogą zadawać obrażenia, przywracać karty ze stosu kart zniszczonych, unieruchamiać karty Stworzeń i tym podobne. Warto zwrócić uwagę na fakt, że karty Czarów jako jedyne wydrukowane są w (typowym dla większości kart do gry) "pionie".</p>

    <h4 class="header header--subheader" id="cards-characters">Postaci</h4>
    <p>Karty Postaci (ang. <span class="italic">Character</span>) są wyjątkowymi na swój sposób kartami, ponieważ reprezentują bohaterów, których mogliśmy poznać odkrywając świat Harry'ego Pottera. Karty Postaci dodatkowo mogą posiadać podkategorię: Czarodziej (<span class="bold">Wizard</span>) lub Czarodziejka (<span class="bold">Witch</span>). Każdy gracz <span class="underline">musi</span> posiadać w swojej talii przynajmniej jedną kartę Postaci z podkategorią Wizard/Witch, ponieważ będzie to jego postać startowa. Warto dodać, że postać startowa w żaden sposób nie może być usunięta z gry.</p>
    <figure class="figure figure--center"><img alt="Karta: Hermione Granger" class="figure__item" src="/cards/10.jpg" />
    </figure>
    <p>Karty Postaci służą do tego, aby do rozgrywki wnieść dodatkowe umiejętności. Na start posiadamy jedną kartę Postaci, lecz łącznie możemy posiadać na stole aż trzy karty Postaci.</p>
    <p>Wyłożenie karty Postaci kosztuje dwie akcje (chyba że któraś z posiadanych przez nas kart mówi inaczej - np. <span class="italic">Ron Weasley</span>).</p>
    <p>Niektóre z postaci posiadają umiejętności, które mogą być użyte jedynie jeden raz w trakcie gry. Jednak wykorzystując dwa punkty akcji możemy postać cofnąć na rękę, a następnie (wykorzystując kolejne dwa punkty akcji) wyłożyć ją ponownie. Od tej chwili jej umiętność będzie ponowny raz do wykorzystania.</p>

    <h4 class="header header--subheader" id="cards-items">Przedmioty</h4>
    <p>Karty Przedmiotów (ang. <span class="italic">Item</span>) służą do podnoszenia posiadanej mocy oraz wnoszą do gry dodatkowe efekty. Wśród kart Przedmiotów wyróżnia się także podtypy: Kociołki (ang. <span class="italic">Cauldron</span>) oraz Różdżki (ang. <span class="italic">Wand</span>). Nie można posiadać dwóch przedmiotów tego samego podtypu w grze, ale o tym informuje każda karta Przedmiotu z osobna.</p>
    <figure class="figure figure--center"><img alt="Karta: Dragon Heart Wand" class="figure__item" src="/cards/51.jpg" />
    </figure>
    <p>Mechanizm podnoszenia mocy wygląda następująco: karta Przedmiotu, która do zagrania wymaga Lekcji transmutacji, dodaje graczowi kilka punktów transmutacji. Oznacza to, że jeśli pod polem <span class="italic">Provides</span> na karcie przedmiotu znajdują się dwie ikonki <span class="icon icon--l-t"></span>, to gracz po wyłożeniu tej karty, może traktować ten przedmiot jako dodatkowe dwie Lekcje Transmutacji. Gdyby gracz stracił wyłożone karty Lekcji Transmutacji, a posiadał ten przedmiot, nadal może zagrywać nowe karty, które wymagają Lekcji Transmutacji.</p>

    <h4 class="header header--subheader" id="cards-adventures">Przygody</h4>
    <p>Karty Przygód (ang. <span class="italic">Adventure</span>) są kartami, których zagranie wymaga dwóch punktów akcji. Stawiają one przed naszym przeciwnikiem zadanie do rozwiązania. Jeśli przeciwnik zadanie rozwiąże, otrzyma nagrodę. Do momentu rozwiązania zadania karta Przygody wywiera wpływ na grę (zazwyczaj utrudnia grę przeciwnikowi). Po rozwiązaniu karta odkładana jest na stos kart zniszczonych gracza, który Przygodę zagrał.</p>
    <figure class="figure figure--center"><img alt="Karta: Hiding from Snape" class="figure__item" src="/cards/54.jpg" />
    </figure>
    <p>Wpływ karty Przygody na grę jest oznaczony na karcie napisem <span class="italic">Effect</span>, zadanie przeciwnika oznaczone jest poprzez <span class="italic">To Solve</span>, natomiast nagroda wyróżniona jest napisem <span class="italic">Reward</span>.</p>
    <p class="no-indent">Każdy z graczy może mieć wyłożoną na stół tylko jedną kartę Przygody.</p>

<h3 class="header" id="uniqueness">Unikalność kart</h3>
<p>Jeśli pod napisem, określającym rodzaj karty, widnieje słowo <span class="italic">"Unique"</span> (unikalna) wtedy taka karta może znajdować się na stole tylko jedna. Oznacza to, że dopóki w grze (wyłożona na stole) jest karta unikalna, <span class="underline">żaden z graczy</span> nie może wyłożyć kopii tej karty. Nie zabrania to jednak posiadania kilku takich samych kart w talii lub na ręce.</p>
