<% content_for :title do %>
    Game rules
<% end %>
<h2 class="header header--main">Game rules</h2>

<p>In this section, detailed rules of the Harry Potter TCG are presented (of the Base Set – the description of new rules, coming from extensions you can find on <a href="/extensions">the page dedicated to extensions</a>).</p>

<p>Full rules you can also find in the official instruction available in the <span class="italic">Base Starter Set</span> and <span class="italic">Diagon Alley Set</span>, whereas on the board, added to Starter Sets, are summarized rules.</p>

<ul class="list--ordered">
    <li><a href="#basic-rules">Basic Rules</a>
    </li>
    <li><a href="#beginning">Beginning of the Game</a>
    </li>
    <li><a href="#moves">Movements order</a>
    </li>
    <li><a href="#cards">Card types</a>
        <ul class="list--unordered sublist">
            <li>
                <a href="#cards-lessons">Lessons</a>
            </li>
            <li>
                <a href="#cards-creatures">Creatures</a>
            </li>
            <li>
                <a href="#cards-spells">Spells</a>
            </li>
            <li>
                <a href="#cards-characters">Characters</a>
            </li>
            <li>
                <a href="#cards-items">Items</a>
            </li>
            <li>
                <a href="#cards-adventures">Adventures</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#uniqueness">Cards Uniqueness</a>
    </li>
    <li>
        <a href="#deck">Deck</a>
    </li>
</ul>

<h3 class="header" id="basic-rules">Basic Rules</h3>

<p>The aim of the game is to defeat the enemy. This can be achieved through dealing damage to your opponent using spell cards, creatures or special abilities possessed by the characters. Damage is dealt directly to the opponent’s deck – it means that one’s deck is also one’s bank of health points. Decreasing the amount of cards, the opponent could play, brings closer to the victory.</p>

<h3 class="header" id="beginning">Beginning of the game</h3>
<p class="no-indent">Before the game starts, it is necessary to perform few basic activities:</p>
<ol class="list--ordered">
    <li>Each player chooses the deck which one wants to play. It may be one of the decks included in the Base Set, or a deck created by the player, using boosters (such deck should contain 60 cards + Character Card).</li>
    <li>One should spread the board, and put the Character Card (<span class="bold">Wizard</span>/<span class="bold">Witch</span>) in an appropriate place on the board.</li>
    <li>Each player shuffles ones own deck and puts it in the appointed place on one half of the board face (the side with the description of the card’s action) down.</li>
    <li>Players draw 7 cards from their decks.</li>
    <li>Players decides who starts (by lottery or choice).</li>
    <li>In this moment the player who starts, begins his/her round by drawing a new card according to <a href="#moves">the order of the movements</a>.</li>
</ol>

<h3 class="header" id="moves">Movements order</h3>
<p>The order of the movements is the thing which has to be strictly abode, because it may often be decisive in the victory or loss. Especially important is the beginning of the round – drawing of the card, as this can defeat us (if it will be last card in our deck).</p>
<ol class="list--ordered">
    <li>Drawing Cards (mandatory).</li>
    <li>Dealing damage to the opponent using Magical Creatures.</li>
    <li>Performing of up to two actions from the list below (these two actions can be the same)
        <ul class="list--unordered sublist">
            <li>Playing the Lesson Card;</li>
            <li>Playing Creature card or Spell (provided the player has already the right amount of Lesson Cards in play);</li>
            <li>Playing the Adventure card or Character card (cost – two actions);</li>
            <li>Drawing additional card from the deck.</li>
        </ul>
    </li>
    <li>Ending the turn.</li>
</ol>

<h3 class="header" id="cards">Card types</h3>

<p>In the game several types of cards can be distinguished: <span class="bold">Lessons</span>, <span class="bold">Creatures</span>, <span class="bold">Spells</span>, <span class="bold">Characters</span>, <span class="bold">Items</span>, <span class="bold">and Adventures</span>.</p>

<h4 class="header header--subheader" id="cards-lessons">Lessons</h4>

<figure class="figure figure--left">
    <img alt="Card: Potions" class="figure__item m-b-20" src="/cards/bs/115.jpg" /><img alt="Card: Charms" class="figure__item" src="/cards/bs/114.jpg">
</figure>

<p>Lesson Cards increases the player’s power, allowing him/her to play more and more stronger cards. Playing each Spell, Item, and Creature Card requires having the right amount of Lesson Cards. However, their amount alone is not enough, <span class="bold">the type/span> of the lesson is also important.</p>

<p>There are four types of Lessons: Potions <span class="icon icon--l-p" aria-hidden="true"></span>, Charms <span class="icon icon--l-ch" aria-hidden="true"></span>, Transfiguration <span class="icon icon--l-t" aria-hidden="true"></span> and Care of Magical Creatures <span class="icon icon--l-c" aria-hidden="true"></span>. <span class="bold">Attention!</span>Remembering of these symbols is important, because the great majority of descriptions on this website will use them for the identification of cards.</p>

<figure class="figure figure--right">
    <img alt="Card: Transfiguration" class="figure__item m-b-20" src="/cards/bs/116.jpg" /><img alt="Card: Care of Magical Creatures" class="figure__item" src="/cards/bs/113.jpg">
</figure>

<p>Each Card in play increases the power of the player by one. For example, in order to use a card, which requires four points of power, the player has to have in play four Lesson Cards. Although <span class="underline">it is enough to have just one</span> Lesson Card of the particular type.</p>

<p>For instance: the card <span class="italic">Magical Mishap</span> requires two cards, and it is a <span class="icon icon--l-ch">Charms Card</span>. It means that a player needs to have at least one Charms Lesson <span class="icon icon--l-ch" aria-hidden="true"></span> (what gives it one power point), and the second Lesson Card may be of a random type (so as to get the second power point). This way the player will have two power points – including one Lesson Card <span class="icon icon--l-ch" aria-hidden="true"></span> – and he/she will be able to play the <span class="italic">Magical Mishap</span>.</p>

<h4 class="header header--subheader" id="cards-creatures">Creatures</h4>

<p>Creature Cards are used to deal damage to the opponent. Each creature card requires at least one Care of Magical Creatures Lesson <span class="icon icon--l-c" aria-hidden="true"></span>. in play. Creature Cards are played the same way as the other cards, and the damage is dealt at the beginning of the turn, right after drawing a card from the deck.</p>

<p>Each creature card has health points and the damage it deals to the opponent (some have also special effects/skills).</p>

<figure class="figure figure--left">
    <img alt="Card: Surly Hound" class="figure__item" src="/cards/bs/107.jpg">
</figure>

<p>Health points show the amount of damage the creature can take, before it is destroyed. If the ability or a spell does not destroy the creature at once, the damage the creature <span class="underline">already took</span> is marked (either by tokens from the Starter Set, coins, or any other things available at hand).</p>

<p>Creatures cannot attack other creatures, and they also cannot be attacked by spells (if there is no inscription on the card that it can).</p>

<h4 class="header header--subheader" id="cards-spells">Spells</h4>
<figure class="figure figure--right"><img alt="Card: Accio" class="figure__item" src="/cards/bs/73.jpg" />
</figure>
<p>Spell Cards are the most universal cards. They may require all kinds of lessons, and at the same time they have a lot of different effects – they can deal damage, bring back cards from the discard pile, immobilize creatures and so on. It is worth mentioning that Spell Cards are printed (typically for the majority of game cards) only perpendicularly.</p>

<h4 class="header header--subheader" id="cards-characters">Characters</h4>

<p>Character Cards are unique in their own way, because they represent characters, which we could meet, discovering the world of Harry Potter. Character cards additionally can have a subcategory: a <span class="bold">Wizard</span> or a <span class="bold">Witch</span>. Each player <span class="underline">has to</span> possess in one’s deck at least one Character Card with the subcategory Witch/Wizard, because it will be the player’s starting character. It is worth mentioning that this character cannot be in any way discarded from the play.</p>

<figure class="figure figure--center">
    <img alt="Card: Hermione Granger" class="figure__item" src="/cards/bs/10.jpg">
</figure>

<p>Character Cards are used to bring additional skills to the game. At the beginning we have got one Character Card, but we can have up to three Character cards altogether.</p>

<p>Playing Character card costs two actions (unless one of player’s card says otherwise e.g. <span clas="italic">Ron Weasley</span>).</p>

<p>Some of the characters have skills which may be used only once during the game. However, using two action points we can take the character back to the hand, and then (using another two points of action) play it again. From this moment its skill can be used again.</p>

<h4 class="header header--subheader" id="cards-items">Items</h4>

<p>Item cards are used to increase the power of the player and they bring additional effects to the game. Among Item Cards we can distinguish subtypes such as Cauldrons and Wands. Usually it is not possible to have two items of the same subtype in play, but this information is included in each Item card.</p>

<figure class="figure figure--center">
    <img alt="Card: Dragon Heart Wand" class="figure__item" src="/cards/bs/51.jpg">
</figure>

<p>Mechanics of increasing the power looks as follows: Item Card, which in order to be played requires Transfiguration Lessons, adds few points of transfiguration. It means that if under the inscription <span class="italic">‘Provides’</span> on the Item card, there are two icons <span class="icon icon--l-t" aria-hidden="true"></span>, the player after playing this card can treat this card as additional two Transfiguration lessons. If the player loses all transfiguration lessons in play but he/she still has this item, he/she can still play new cards, which requires transfiguration lessons.</p>

<h4 class="header header--subheader" id="cards-adventures">Adventures</h4>

<p>Adventure Cards are cards which require using two points of action. They confront our opponent with a task to solve. If the opponent solves it, he/she gets a reward. Until the solution of the task, the adventure card influences the game (usually it hinders the opponent’s game). After the solution of the adventure the card is put off on the discard pile of the one who played it.</p>

<figure class="figure figure--center">
    <img alt="Card: Hiding from Snape" class="figure__item" src="/cards/bs/54.jpg">
</figure>

<p>The influence of the Adventure card, how to solve it and, the opponent’s reward is marked on the card.</p>

<p class="no-indent">Each player can have only one Adventure card in play.</p>

<h3 class="header" id="uniqueness">Card uniqueness</h3>

<p>If under the inscription, specifying the type of the card, there is a word ‘Unique’, the card can be only one in play. It means that until there is unique card in play, <span class="underline">none of the players</span> can play the copy of this card. It does not forbid having few the same cards in deck or on hand.</p>

<h3 class="header" id="deck">The deck</h3>
<p>The deck is an important part of the game because it indicates your health points. When the damage is dealt to you (not to your creatures) your deck is harmed in proportion: 1 point of damage = 1 card put to the discard pile. Therefore it is important for both decks to have the same amount of cards. The official instruction recommends having 60 cards + starting Character, while I would advise taking 20 more. Firstly in order to lengthen the game, secondly to be able to create more interesting combinations of cards (e.g. several types of lessons).
</p>
<p class="no-indent">Attention: each deck can have up to 4 copies of the same card (does not apply to lessons).</p>

<p class="text--right"><a href="/game">Back to section "The Game"</a></p>