<% content_for :title do %>
    Handel
<% end %>
<h2 class="header header--main">Handel</h2>
<p>Jeśli chcesz sprzedać, wymienić lub kupić określone karty (a nawet całe zestawy i boostery), to <a href="/contact">skontaktuj się ze mną</a>, a Twoje ogłoszenie z pewnością zostanie tu zamieszczone!</p>
<p>Aktualnie brak ogłoszeń.</p>