<% content_for :title do %>
    Trade
<% end %>
<h2 class="header header--main">Trade</h2>

<p>If You want to sell, trade or buy specific cards (or even whole sets and boosters), <a href="/contact">contact with me</a>, and Your advertisement will be hanged here!</p>

<div class="m-b-20">
    <p>Ad by: soanvig@gmail.com</p>
    <p>Sell/trade cards:</p>
    <ul class="list--ordered">
        <li>Hanna Abbot (7, BS) holographic</li>
        <li>Marcus Flint (14, QP) holographic</li>
    </ul>
</div>

<p class="text--right"><a href="/community">Back to section "community"</a></p>