<% content_for :title do %>
    Jak zacząć?
<% end %>
<h2 class="header header--main">Jak zacząć?</h2>

<h3 class="header">Informacje podstawowe</h3>
<p class="small-margin">Gra Harry Potter TCG wymaga do gry dwóch graczy.
    Jeśli więc interesuje Cię granie (a nie tylko samo kolekcjonowanie), warto najpierw poszukać osób, które:</p>
<ul class="list--unordered">
    <li>będą zainteresowane graniem z Tobą,</li>
    <li>mogą również zainteresować się kolekcjonowaniem.</li>
</ul>

<p>Aby grać jedyną rzeczą faktycznie niezbędną są karty (w ilości według uznania).
    Akcesoria typu plansza do gry czy żetony są całkowicie opcjonalne.</p>

<p>Karty znaleźć można w zestawach startowych (dwie gotowe talie złożone z 41 kart)
    oraz w zestawach rozszerzających (<span class="italic">boosterach</span>, po 11 kart w każdym).</p>

<p class="no-indent">Zestawy startowe w obiegu są dwa: <span class="bold">Podstawowy</span> oraz <span class="bold">Diagon Alley</span>.</p>

<p>Pierwszy zawiera karty z edycji podstawowej gry (<span class="italic">Base Set</span>).
    Ten drugi jest ściśle powiązany z drugim rozszerzeniem do gry o tej samej nazwie i zawiera karty z rozszerzenia.
    Obydwa zestawy startowe zawierają także planszę do gry (na której znajdują się streszczone zasady) oraz 12 żetonów
    przydatnych przy oznaczaniu obrażeń i innych punktów na kartach.
    <br>
    Który wybrać? Osobiście uważam, że lepiej zacząć z zestawem z edycji podstawowej, a potem sukcesywnie przejść do kolejnych dodatków.
    W momencie, kiedy będziemy posiadali już zestaw startowy z edycji podstawowej zapewne nie będziemy widzieli potrzeby
    kupowania zestawu startowego Diagon Alley.</p>

<p class="no-indent">Cena zestawu startowego to około 25 złotych. Niewiele, jak za 82 karty, planszę oraz żetony do gry.</p>

<div class="floatfix block-center block-center--50">
    <figure class="figure figure--left">
        <img src="images/starter-set.jpg" alt="" class="figure__item">
        <figcaption class="figure__caption">Zestaw startowy<br>Edycji Podstawowej</figcaption>
    </figure>
    <figure class="figure figure--right">
        <img src="images/diagon-alley-starter-set.jpg" alt="" class="figure__item">
        <figcaption class="figure__caption">
            Zestaw startowy<br>Diagon Alley<br>
            <span class="text--smaller">źródło: amazon.com</span>
        </figcaption>
    </figure>
</div>

<p>Można ominąć kupowanie zestawu startowego i od razu zacząć od zakupu boosterów.
    Co prawda nie wejdziemy wtedy w posiadanie żetonów i planszy do gry, ale od razu możemy zacząć kolekcjonowanie rzadkich kart
    (zestawy startowe zawierają przede wszystkim karty zwykłe).</p>

<p class="small-margin">Każda część gry (podstawowa, dodatki) posiada swoje boostery w kilku wersjach - ale różniących się jedynie opakowaniem.
W każdym boosterze znajdziemy:</p>
<ul class="list--unordered bold">
    <li>1 kartę rzadką lub premium <span class="icon--r-r" aria-hidden="true"></span> <span class="icon--r-p" aria-hidden="true"></span></li>
    <li>2 karty niezwykłe <span class="icon--r-u" aria-hidden="true"></span></li>
    <li>2 lekcje</li>
    <li>6 kart zwykłych <span class="icon--r-c" aria-hidden="true"></span></li>
</ul>

<p class="text--right"><a href="/o-grze">Powrót do sekcji "Gra"</a></p>