<h2 class="header header--main">Kontakt</h2>
<p class="no-indent">Jeśli jesteś zainteresowany współpracą, masz pytanie odnośnie gry Harry Potter TCG czy witryny, lub jeśli napotkałeś jakiś problem - pisz śmiało! Poniżej znajduje się formularz kontaktowy, z którego możesz skorzystać. Pola oznaczone gwiazdką są obowiązkowe.</p>

<%# render 'shared/form_errors', :target => @contact %>

<form class="form" action="/contact" method="POST">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <fieldset>
        <legend>Formularz kontaktowy</legend>
        <div class="row">
            <div class="col-6 m-r-25">
                <div class="form__group">
                    <label class="form__label" for="emailName">Imię</label>
                    <input class="form__text" id="emailName" name="email[name]" type="text" pattern=".{0}|\D{2,35}">
                </div>
            </div>
            <div class="auto">
                <div class="form__group"><span class="form__label form__label--bordered m-b-5">Płeć</span>
                    <input class="form__checkbox" id="emailGenderM" name="email[gender]" type="radio" value="M">
                    <label class="inline m-r-15" for="emailGenderM">M</label>
                    <input class="form__checkbox" id="emailGenderF" name="email[gender]" type="radio" value="F">
                    <label class="inline" for="emailGenderF">K</label>
                </div>
            </div>
        </div>
        <div class="form__group">
            <label class="required form__label" for="emailEmail">E-mail</label>
            <input class="form__text" id="emailEmail" name="email[email]" type="email" required>
        </div>
        <div class="form__group">
            <label class="required form__label" for="emailSubject">Temat</label>
            <input class="form__text" id="emailSubject" name="email[subject]" type="text" pattern=".{5,50}" required>
        </div>
        <div class="form__group">
            <label class="required form__label" for="emailMessage">Wiadomość</label>
            <textarea class="form__textarea" id="emailMessage" name="email[message]" rows="4" pattern=".{5,1000}" required></textarea>
        </div>
        <button class="form__submit" type="submit">Wyślij</button>
    </fieldset>
</form>